{% extends 'base.html' %}
{% block content %}

<div class="h-full w-full object-cover p-5 relative text-sm">
   
    <div class="mt-20">
        <h2 class="uppercase text-lg text-green-500 p-3 font-bold">Warehousing & Fulfillment</h2>
        <div id="default-carousel" class="relative w-full p-5" data-carousel="slide">
            <!-- Carousel wrapper -->
            <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                 <!-- Item 1 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="{{url_for('static', filename='media/IMG_9919.webp')}}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="MHE operator">
                </div>
                <!-- Item 2 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="{{url_for('static', filename='media/IMG_8617.JPG')}}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="Warehouse Team">
                </div>
                <!-- Item 3 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="{{url_for('static', filename='media/IMG_8091.webp')}}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <!-- Item 4 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="{{url_for('static', filename='media/IMG_8274.webp')}}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <!-- Item 5 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="{{url_for('static', filename='media/IMG_8275.webp')}}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                  <img src="{{url_for('static', filename='media/IMG_8278.webp')}}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
              </div>
              <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img src="{{url_for('static', filename='media/IMG_8275.webp')}}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
            </div>         
        
          </div>
    <p class="h-auto w-auto my-2 left-0">
        Offshore Global Logistics continuously strives at being recognized as
        the best logistics and courier service provider in Kenya. We achieve this
        by maintaining a high quality service every time. Our service gives you
        the power and flexibility to effectively manage all your shipments
        through our state of the art online tracking system. 
    </p>

    <p class="h-auto w-auto my-2 text-justify left-0 p-2">
        Our modernized warehousing & distribution facility located off
        Mombasa Road in Nairobi: a very close proximity to the both
        the ICDN (Inland Container Depot Nairobi) and JKIA, is well
        equipped to meet our client’s cargo handling needs.
        The technological innovations we have employed in our facility
        i.e the use of a Warehousing Management System, Smart
        Scanners among other technologies, has boosted our
        efficiency in stock management and control.
        <br > <br>
        Supported by our well experienced and capable personnel,
        exceptional in managing end-to-end inventory planning, we
        offer replenished tailor cut warehousing service and
        proficiency to handle a wide assortment of products to meet
        our clients’ needs.
        Our clients reap from shared cost benefits ranging from
        shared space, labor, equipment, and technology.
        
        Our Warehouse management system (WMS) offers our clients with 100 degrees visibility of
        their stock among other capabilities that include;
        <ul class=" list-disc ml-20">
            <li>24Hr web-based Access through multiple options
                including mobile device</li>
            <li>Ability to place orders for dispatch. With multi-level
                approvals- if needed</li>
            <li>Access to real time stock reports</li>
            <li>Access to real time data on both receipts and
            dispatches</li>
            <li>Ability to get re-order level alerts</li>
            <li>Ability to set authorized consignees of cargo</li>
            <li>Ability to authorize SKU conversions & transfers to
            damaged/unusable stock</li>
            <li>System based stock take</li>
            <li>System integration options</li>
        </ul>
        
        <ul class="ml-20 list-disc mt-5">
            <li>Repackaging, Strapping, shrink-wrapping & Palletizing for shipping</li>
            <li>Bonded warehouse</li>
            <li>Barcodes, KEBS, KRA, Warranty sticker</li>
            <li>Kitting & Light Assembly Services</li>
            <li>Product Rework & Tech Support Services</li>
            <li>Inspection services- SGS, Bureau Veritas, CCIC</li>
            <li>Stickering Services e.g. Labelling, Serializing</li>
        </ul>
    </p>
    </div>
</div>
{% endblock %}