{% extends 'base.html' %} {% block content %}
<section class="mt-20 text-sm">

    <div class="w-[inherit]">
      <img
        class="w-full h-[80vh] object-cover"
        src="{{url_for('static', filename='media/header-img.webp')}} "
        alt="about_photo"
      />
      <h1
        class="text-3xl font-mono uppercase font-bold underline text-center text-white absolute bg-green-700/50 p-2 ml-14 -mt-36 rounded-md"
      >
        About Us
      </h1>
    </div>
    <div
      class="bg-white mx-14 relative -mt-12 text-sm p-5 text-justify max-md:text-left"
    >
      <p>
        Founded in the year 2014, Offshore Global Logistics is a wold-class
        Logistics and supply chain firm offering a comprehensive portfolio of
        services.<br />
        We are suported by our offices in Kenya and Tanzania as well associates
        in 22+ African countries and 115 Countries globally . This equips us
        with a global network thus enhancing our capacity to offer seamless
        services globally.<br />
        At Offshore Global Logistics, we provide you with effective and
        effecient logistics and supply chain solutions through innovative,
        sustainable and proactive operations.
      </p>
    </div>
  
</section>
<section>
  
  <div class="flex flex-col py-5 items-center md:flex-row justify-between bg-[rgb(244,244,244)] mx-10 " >
  
    <div class="w-[300px] shadow-xl"  data-aos="flip-down">
      <h2 class="text-green-500 text-xl font-semibold p-2">Our Vision</h2>
      <img
      src="{{url_for('static', filename='media/sunset.webp')}}"
      class="md:h-[300px] max-md:object-cover bg-blue-500"
    />
    <p
    class="p-5 flex justify-center items-center text-left max-[425px]:text-lg"
  >
    To be the premier supply chain solutions partner in East Africa committed
    to supply chain excellence while embodying the aspirations of our
    stakeholders.
  </p>
    
    </div>
   
    <div  class="w-[300px] shadow-xl" data-aos="flip-down">
      <h2 class="text-green-500 text-xl font-semibold p-2">Core Values</h2>
      <img
      src="{{url_for('static', filename='media/Diamond.webp')}}"
      class="md:h-[300px] max-md:object-cover"
    />
    <ul
      class="ml-10 list-disc p-5 text-left"
    >
      <li>Agility</li>
      <li>Innovation</li>
      <li>Global Awareness</li>
      <li>Professionalism</li>
      <li>Integrity</li>
    </ul>
    
    </div>
    <div  class="w-[300px] shadow-xl" data-aos="flip-down">
      <h2 class="text-green-500 text-xl font-semibold p-2">Our Mission</h2>
      <img
      src="{{url_for('static',filename='media/dart.webp')}}"
      class="md:h-[300px] max-md:object-cover"
    />
    <p
      class="p-5 flex justify-center items-center text-left max-[425px]:text-lg"
    >
      To provide innovative supply chain solutions while incorporating the goals
      of our stakeholders through creation of value.
    </p>
    </div>
    
  </div>
</section>
<section>
  <div class="mx-10 py-10 text-sm">
    <h2 class="text-green-500 text-xl font-semibold">OUR TEAM</h2>
    <p class="text-justify p-5">Our Company thrives on a foundation of hardwork, eddication and unwaverung commitment to excellence.
      We celebrate diversity, recognizing that the unique perspectives and talents of our team drive innovation and success.
      By fostering an inclusive & dynamic workplace, we create opportunities for professional growth, empowering every individual to reach their full potential.
      whether you're a seasaoned expert or just starting your career, we believe in cultivating a culture where ambition meets opportunit, and success is shared.
    </p>
  </div>

<div id="default-carousel" class="relative w-full p-5" data-carousel="slide">
  <!-- Carousel wrapper -->
  <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
       <!-- Item 1 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="{{url_for('static', filename='media/IMG_9775.webp')}}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <!-- Item 2 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="{{url_for('static', filename='media/IMG_9765.webp')}}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <!-- Item 3 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="{{url_for('static', filename='media/IMG_8091.webp')}}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <!-- Item 4 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="{{url_for('static', filename='media/IMG_8274.webp')}}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <!-- Item 5 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="{{url_for('static', filename='media/IMG_8275.webp')}}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="{{url_for('static', filename='media/IMG_8278.webp')}}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
    </div><div class="hidden duration-700 ease-in-out" data-carousel-item>
      <img src="{{url_for('static', filename='media/IMG_8275.webp')}}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
  </div>
  </div>
  <!-- Slider indicators -->
  <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
      <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
  </div>
  <!-- Slider controls -->
  <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
          </svg>
          <span class="sr-only">Previous</span>
      </span>
  </button>
  <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <span class="sr-only">Next</span>
      </span>
  </button>
</div>

</section>

{% endblock %}
