{% extends 'base.html' %}

{% block content %}
    <section class="mt-20 max-w-4xl md:ml-20">
        
            <div class="text-justify break-words p-5 max-md:text-start min-[1100px]:mx-20">
                <h2 class="text-green-600 text-xl uppercase">job application</h2>

                <p>
                    Ready to embark on an exciting journey with Offshore Global Logistics? Join us in shaping the future of logistics and making a lasting impact on a global scale.
                    <br>
                    <br>

                    <strong>Browse Our Open Positions:</strong>Explore our current job openings and find the perfect fit for your skills and aspirations on LinkedIn. From operations to technology, sales to supply chain management, we offer a diverse range of opportunities to suit various talents.
                    <br>

                    <strong>Application Process:</strong>
                    Applying is simple and straightforward. Submit your application through our user-friendly online portal, and our dedicated HR team will review your qualifications. Shortlisted candidates will be contacted for further steps in the selection process.
                    
                    <br>

                    <strong> Why Choose Us:</strong>When you join Offshore Global Logistics, you become part of a collaborative, inclusive, and innovative community. We offer competitive compensation, comprehensive benefits, and a supportive work environment that empowers you to thrive.
                    <br>

                    Ready to take the next step? Start your journey with Offshore Global Logistics today.
                    <div class="flex justify-center py-3">
                        <button
                          class="border-2 border-solid border-red-700 p-4 mt-8 rounded-full font-medium text-lg shadow-xl"
                        ><a href="https://www.linkedin.com/company/offshoregloballogisticsltd/jobs/" target="blank">
                          Discover Open Opportunities</a>
                        </button>
                      </div>

                </p>
            </div>
        
    </section>

{% endblock %}