<!DOCTYPE html>  
<html lang="en" class="scroll-smooth h-full w-full m-0 p-0 overflow-x-hidden font-sans">
    <head> 
        <title>Offshore Global Logistics</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="At Offshore Global Logistics provide businesses with timely logistics services including air, road and sea freights, customs clearance and warehousing solutions in Kenya and across Africa."/>
        <meta name="keywords" content="Logistics company in Kenya">
        <meta name="keywords" content="Warehousing solutions in Kenya">
        <meta name="keywords" content="Customs Clearance companies in East Africa">
        <meta name="keywords" content="Logistics company in Uganda">
        <meta name="keywords" content="Logistics company in Tanzania">
        <meta name="keywords" content="Logistics solutions in  Nairobi">
        <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='media/offsh_icon.ico') }}" />
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <script src="https://kit.fontawesome.com/0603f90087.js" crossorigin="anonymous"></script>

        <script src="{{url_for('static', filename='js/main.js')}}" defer></script>
        <script src="{{url_for('static', filename='js/carousel.js')}}" defer></script>
        <script src="{{url_for('static', filename='js/email.js')}}" defer></script>
        <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />

    </head>
   
    
<body class="min-h-screen w-full bg-white overflow-clip font-sans">
    <header class="bg-white fixed top-0 z-[50] w-full ">
        <section class="max-w-5xl p-2 flex justify-between sm:w-auto 2xl:ml-[30rem]">
            <a href="{{url_for('index')}}">
                <img  class="w-[140px]" src="{{url_for('static', filename='media/logo5.png' )}}" alt="logo"></a>
            <div>
                <button class="text-3xl md:hidden focus:outline-none" id="hamburger-button">
                    &#9776;
                </button>
               
                <nav class="hidden md:block mt-2 space-x-5 font-normal text-md" aria-label="main">

                   <button class="hover:text-green-900 hover:font-medium transition ease-in-out delay-100 hover:translate-y-1"><a>Navicus360</a></button>
                    <button class="hover:text-green-900 hover:font-medium transition ease-in-out delay-100 hover:translate-y-1"><a>Contact Us</a></button>
                    <button id="multiLevelDropdownButton" data-dropdown-toggle="multi-dropdown"  class="hover:text-green-900 hover:font-medium transition ease-in-out delay-100 hover:translate-y-1 " type="button">Menu</a><i class="fa-solid fa-caret-down fa-xl" style="color: #2abb43; padding-left: 5px;"></i>
                    </button>
                    
                    <!-- Dropdown menu -->
                    <div id="multi-dropdown" class="z-10 hidden border-r-2 border-l-2 border-green-500 px-2 bg-white divide-y divide-gray-100 rounded-lg shadow w-full h-screen mt-10 ">
                        <div class="py-2 text-sm flex space-x-16 text-gray-700 animate-open-menu mx-10" aria-labelledby="multiLevelDropdownButton">
                       
                            <div>
                                <h2 class="text-xl active:underline visited:underline font-medium">Services</h2>
                                <div class="px-2 py-2 border-r border-green-400 h-[80vh] text-green-600">
                                    <ul class="space-y-5" >
                                        <h3 class="text-lg font-semibold">Transportation & Fulfilment</h3>

                                        <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out"><a href="{{url_for('Services.sea_freight')}}">Sea</a></li>
                                        <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out"><a href="{{url_for('Services.air_freight')}}">Air</a></li>
                                        <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out"><a href="{{url_for('Services.road_freight')}}">Transport & Distribution</a></li>
                                        <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out"><a href="{{url_for('Services.FC')}}">Warehousing & Fulfillment</a></li>
                                        
                                        <h3 class="text-lg text-green-600 font-semibold">Other</h3>

                                        <li class="hover:font-bold hover:transition hover:-translate-y-1  hover:underline ease-in-out">Project Logistics</li>
                                        <li class="hover:font-bold hover:transition hover:-translate-y-1  hover:underline ease-in-out">Customs Clearance</li>
                                        <li class="hover:font-bold hover:transition hover:-translate-y-1  hover:underline ease-in-out">Courier
                                            Services</li>


                                    </ul>
                               
                                </div>
                            </div>       
                        
                            <div>
                                <h2 class="text-xl active:underline visited:underline font-medium">Company</h2>
                                <div class="px-2 py-2 border-r border-green-400 h-[80vh] text-green-600">
                                        <ul class="space-y-5" >
                                            <h3 class="text-lg font-semibold">Offshore Global Logistics</h3>
    
                                            <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out">About Us</li>
                                            <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out">Sustainability</li>
                                            <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out">Our Blog</li>
                                            <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out">Location</li>  
                                            <li class="hover:font-bold hover:transition hover:-translate-y-1  hover:underline ease-in-out">People & Culture</li>
                                            
        
                                        </ul>
                                </div>
                            </div>
                            <div>
                                <h2 class="text-xl active:underline visited:underline font-medium">Resources</h2>
                                <div class="px-2 py-2 border-r border-green-400 h-[80vh] text-green-600">
                                        <ul class="space-y-5" >
                                            <h3 class="text-lg font-semibold">Insights</h3>
                                            <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out">Policies</li>
                                            <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out">KEBS Banned Products</li>
                                            <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out">Related Websites</li>
                                            <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out">FAQ</li>  
                                        </ul>
                                </div>
                            </div>
                        
                        </div>
                    </div>
    
                    
                </nav>
            </div>
            
        </section>

        <!--Mobile menu-->
        <section id="mobile-menu" class="absolute top-0 bg-green-500/90 w-full text-2xl font-medium flex-col justify-center origin-top animate-open-menu hidden">
            <button class="text-6xl self-end px-6 ">
                &times;
            </button>
            <nav class="flex flex-col min-h-screen items-center py-6 text-white " aria-label="mobile-menu">
                <a href="{{url_for('index')}}" class="w-full text-center hover:opacity-80 py-3">
                    HOME
                </a>
                <a href="{{url_for('About_Us')}}" class="w-full text-center  hover:opacity-80 py-3">
                    ABOUT US
                </a>
                <a href="#" class="w-full text-center hover:opacity-80 py-3">
                    SERVICES
                </a>
                <a href="{{url_for('Sustainability')}}" class="w-full text-center hover:opacity-80 py-3">
                    SUSTAINABILITY
                </a>
                <a href="#" class="w-full text-center hover:opacity-80 py-3">
                    NEWS
                </a>
                <a href="{{url_for('Careers')}}" class="w-full text-center hover:opacity-80 py-3">
                    CAREERS
                </a>
                <a href="{{url_for('Speak')}}" class="w-full text-center hover:opacity-80 py-3">
                    SPEAK UP
                </a>

            </nav>
        </section>
    </header>
    <main>
        {% block content %}

        {% endblock %}

    </main>
    <footer class="bg-green-700 inset-x-0 bottom-0 pb-0 w-full text-lg text-white p-5 flex space-x-10">
        <section class="w-1/3">
                <a href="#Home" class="2xl:h-[3rem]" ><img src= "{{url_for('static', filename='media/logo_black.png') }}" alt="footer logo"></a>
            <p class="text-justify"> Our company’s reputation is above all founded on the quality of its people who are highly experienced, professional and dynamic individuals with a driving commitment to customer service. Offshore Global logistics emphasizes versatility and personal service to their customers. We offer specialized services within a niche part of the logistics and supply chain industry in East Africa.</p>
            <div class="text-md mt-5 space-x-2 italic">
                Social Media: 
                <i class="fa-brands fa-linkedin fa-xl" style="color: #262a2e;"></i>
                <i class="fa-brands fa-facebook fa-xl" style="color: #262a2e;"></i>
                <i class="fa-brands fa-x-twitter fa-xl" style="color: #262a2e;"></i>
            </div>
        </section>
    
         <section class="flex flex-col space-y-5">
            <h2 class="font-semibold mt-9">Contact</h2>
            <h3 class="font-semibold">Head Office Address</h3>
            <p>Go Down No.1, Katko<br> Complex, Old Mombasa<br> Road Near SGR Nairobi<br>Terminus</p>
            
        </section>
        <section class="py-2">
            <h1 class="font-semibold">Our Location</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.710088580665!2d36.89341127363164!3d-1.3504745986367341!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f0d378ae0ff27%3A0xa2f86df9a10a1649!2sOffshore%20Global%20Logistics%20Limited%20%26%20Fulfillment%20Centre!5e0!3m2!1sen!2ske!4v1732027704806!5m2!1sen!2ske" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
       
    </footer>
    <p class="text-center w-full pb-0 mb-0 text-base min-[375px]:py-3 2xl:text-lg bg-green-700 text-white">&copy;2025 <span class="text-2xl">&#8739</span>All Rights Reserved <span class="text-2xl">&#8739</span>Offshore Global Logistics</p>
    
        
    <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init(
            {
                offset: 200,
                duration:800,
                easing:'ease-in-out',
            }
        );
    </script> 

    <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>

<script type="text/javascript">
    (function(){
       emailjs.init("LvpJW8D1AeubLRR2N");
    })();
 </script>
    
    
</body>
</html>

