<!DOCTYPE html>  
<html lang="en" class="scroll-smooth h-full w-full m-0 p-0 overflow-x-hidden font-sans">
    <head> 
        <title>Offshore Global Logistics</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Offshore Global Logistics provides businesses with timely logistics services including air, road and sea freights, customs clearance and warehousing solutions in Kenya and across Africa."/>
        <meta name="keywords" contents="customs clearance, import/export regulations, international trade, duties and taxes, freight forwarding, customs brokers, global supply chain" />
        <meta name="keywords" content="Logistics company in Kenya">
        <meta name="keywords" content="Warehousing solutions in Kenya">
        <meta name="keywords" content="Customs Clearance companies in East Africa">
        <meta name="keywords" content="Logistics company in Uganda">
        <meta name="keywords" content="Logistics company in Tanzania">
        <meta name="keywords" content="Logistics solutions in  Nairobi">
        <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='media/offsh_icon.ico') }}" />
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <script src="https://kit.fontawesome.com/0603f90087.js" crossorigin="anonymous"></script>

        <script src="{{url_for('static', filename='js/main.js')}}" defer></script>
        <script src="{{url_for('static', filename='js/carousel.js')}}" defer></script>
        <script src="{{url_for('static', filename='js/email.js')}}" defer></script>
        <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />

    </head>
   
    
<body class="min-h-screen w-full bg-white overflow-clip font-sans">
    <header class="bg-white fixed top-0 z-[50] w-full ">
        <section class="w-full mr-10 p-2 flex justify-between sm:w-auto 2xl:ml-[30rem]">
            <a href="{{url_for('index')}}">
                <img  class="w-[140px]" src="{{url_for('static', filename='media/logo5.png' )}}" alt="logo"></a>
            <div>
                <button class="text-3xl md:hidden focus:outline-none" id="hamburger-button">
                    &#9776;
                </button>
              
                <nav class="hidden md:block mt-2 space-x-5 font-normal text-md " aria-label="main">

                    <button id="multiLevelDropdownButton" data-dropdown-toggle="multi-dropdown"  class="hover:text-green-500 hover:font-medium transition ease-in-out delay-100 hover:translate-y-1 " type="button">Menu</a><i class="fa-solid fa-caret-down fa-xl" style="color: #2abb43; padding-left: 5px;"></i>
                    </button>
                    
                    <!-- Dropdown menu -->
                    <div id="multi-dropdown" class="z-10 hidden border-r-2 border-l-2 border-green-500 px-2 bg-white divide-y divide-gray-100 rounded-lg shadow w-full h-screen mt-10 ">
                        <div class="py-2 text-sm flex space-x-16 text-gray-700 animate-open-menu mx-10" aria-labelledby="multiLevelDropdownButton">
                       
                            <div>
                                <h2 class="text-xl active:underline visited:underline font-medium">Services</h2>
                                <div class="px-2 py-2 border-r border-green-400 h-[80vh] text-green-600">
                                    <ul class="space-y-5" >
                                        <h3 class="text-lg font-semibold">Transportation & Fulfilment</h3>

                                        <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out"><a href="{{url_for('sea_freight')}}">Sea</a></li>
                                        <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out"><a href="{{url_for('air_freight')}}">Air</a></li>
                                        <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out"><a href="{{url_for('road_freight')}}">Transport & Distribution</a></li>
                                        <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out"><a href="{{url_for('FC')}}">Warehousing & Fulfillment</a></li>
                                       

                                        <h3 class="text-lg text-green-600 font-semibold">Others</h3>

                                        <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out"><a href="{{url_for('project_cargo')}}">Project Logistics</a></li>
                                        <li class="hover:font-bold hover:transition hover:-translate-y-1  hover:underline ease-in-out">Customs Clearance</li>
                                        <li class="hover:font-bold hover:transition hover:-translate-y-1  hover:underline ease-in-out">Courier
                                        Services</li>


                                    </ul>
                               
                                </div>
                            </div>       
                        
                            <div>
                                <h2 class="text-xl active:underline visited:underline font-medium">Company</h2>
                                <div class="px-2 py-2 border-r border-green-400 h-[80vh] text-green-600">
                                        <ul class="space-y-5" >
                                            <h3 class="text-lg font-semibold">Offshore Global Logistics</h3>
    
                                            <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out"><a href="{{url_for('About_Us')}}">About Us</a></li>
                                            
                                            <button id="dropdownDelayButton" data-dropdown-toggle="dropdownDelay" data-dropdown-delay="500" data-dropdown-trigger="hover" class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out text-center inline-flex items-center" type="button">Company Policies<svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                                                </svg>
                                                </button>
                                                
                                                <!-- Dropdown menu -->
                                                <div id="dropdownDelay" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                                                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDelayButton">
                                                    <li>
                                                        <a href="{{url_for('EnvPolicy')}}" class="hover:underline block px-4 py-2 hover:text-green-500">Environmental Policy</a>
                                                    </li>
                                                    <li>
                                                        <a href="{{url_for('LabourMgt')}}" class="hover:underline block px-4 py-2 hover:text-green-500">Labor Management</a>
                                                    </li>
                                                    <li>
                                                        <a href="{{url_for('Conduct')}}" class="block px-4 py-2 hover:text-green-500">Code of Conduct</a>
                                                    </li>
                                                    
                                                    <li>
                                                        <a href="{{url_for('Corruption')}}" class="block px-4 py-2 hover:text-green-500">Anti-Corruption Policy</a>
                                                    </li>
                                                    </ul>
                                                </div>
                                                
                                            <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out"><a href="{{url_for('Sustainability')}}">Sustainability</a></li>
                                            <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out">Our Blog</li>
                                            <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out">Location</li>  
                                            <li class="hover:font-bold hover:transition hover:-translate-y-1  hover:underline ease-in-out"><a href="{{url_for('PC')}}">People & Culture</a></li>
                                            <li class="hover:font-bold hover:transition hover:-translate-y-1  hover:underline ease-in-out"><a href="{{url_for('careers')}}" >Careers</a></li>
                                            
        
                                        </ul>
                                </div>
                            </div>
                            <div>
                                <h2 class="text-xl active:underline visited:underline font-medium">Resources</h2>
                                <div class="px-2 py-2 border-r border-green-400 h-[80vh] text-green-600">
                                        <ul class="space-y-5" >
                                            <h3 class="text-lg font-semibold">Insights</h3>

                                            <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out">Company Profile</li>
                                            <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out"><a href="{{url_for('kebs')}}">KEBS Banned Products</a></li>
                                            <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out"><a href="{{url_for('faqs')}}">FAQ</a></li>  
                                        </ul>
                                </div>
                            </div>

                        
                        </div>
                    </div>
                    <button class="hover:text-green-500 hover:font-medium transition ease-in-out delay-100 hover:translate-y-1"><a href="{{url_for('Offices')}}">Contact Us <i class="fa-regular fa-envelope fa-lg px-1" style="color: #000000;"></i></a></button>
                    <button class="hover:text-green-500 hover:font-medium transition ease-in-out delay-100 hover:translate-y-1 px-5"><a href="https://www.navicus360.com/login/" target="_blank">Navicus360</a></button> 
    
                    
                </nav>
            </div>
            
        </section>

        <!--Mobile menu-->
        <section id="mobile-menu" class="absolute top-0 bg-green-500/90 w-full text-2xl font-medium flex-col justify-center origin-top animate-open-menu hidden">
            <button class="text-6xl self-end px-6 ">
                &times;
            </button>
            <nav class="flex flex-col min-h-screen items-center py-6 text-white " aria-label="mobile-menu">
                <a href="{{url_for('index')}}" class="w-full text-center hover:opacity-80 py-3">
                    HOME
                </a>
                <a href="{{url_for('About_Us')}}" class="w-full text-center  hover:opacity-80 py-3">
                    ABOUT US
                </a>
                <a href="#" class="w-full text-center hover:opacity-80 py-3">
                    SERVICES
                </a>
                <a href="{{url_for('Sustainability')}}" class="w-full text-center hover:opacity-80 py-3">
                    SUSTAINABILITY
                </a>
                <a href="{{url_for('Careers')}}" class="w-full text-center hover:opacity-80 py-3">
                    CAREERS
                </a>
                <a href="#" class="w-full text-center hover:opacity-80 py-3">
                    SPEAK UP
                </a>

            </nav>
        </section>
    </header>
    <main>
        {% block content %}

        {% endblock %}

    </main>
    <footer class="bg-green-700 inset-x-0 bottom-0 pb-0 w-full text-lg text-white p-5 flex flex-col md:flex-row justify-center md:space-x-16">
        <section class="md:w-1/3">
                <a href="#Home" class="2xl:h-[3rem]" ><img src= "{{url_for('static', filename='media/logo_black.png') }}" alt="footer logo"></a>
            <p class="text-justify"> Our company’s reputation is above all founded on the quality of its people who are highly experienced, professional and dynamic individuals with a driving commitment to customer service. Offshore Global logistics emphasizes versatility and personal service to their customers. We offer specialized services within a niche part of the logistics and supply chain industry in East Africa.</p>
            <div class="text-md mt-5 space-x-2 italic">
                Social Media: 
                <i class="fa-brands fa-linkedin fa-xl" style="color: #262a2e;"></i>
                <i class="fa-brands fa-facebook fa-xl" style="color: #262a2e;"></i>
                <i class="fa-brands fa-x-twitter fa-xl" style="color: #262a2e;"></i>
            </div>
        </section>
    
         <section class="flex flex-col space-y-2 md:space-y-5">
            <h2 class="font-semibold">Quick Links</h2>
            <ul>
                <a><li>About Us</li></a>
                <a><li>Our Services</li></a>
                <a><li>Get In Touch</li></a>
                <a><li>FAQ</li></a>

            </ul>
        </section>
        <section class="">
            <h1 class="font-bold text-white">Our Location</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.710088580665!2d36.89341127363164!3d-1.3504745986367341!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f0d378ae0ff27%3A0xa2f86df9a10a1649!2sOffshore%20Global%20Logistics%20Limited%20%26%20Fulfillment%20Centre!5e0!3m2!1sen!2ske!4v1732027704806!5m2!1sen!2ske" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
       
    </footer>
    <p class="text-center w-full pb-0 mb-0 px-4 text-base min-[375px]:py-5 2xl:text-lg bg-green-700 text-white">&copy;2025 <span class="text-2xl">&#8739</span>All Rights Reserved <span class="text-2xl">&#8739</span>Offshore Global Logistics</p>
    
        
    <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init(
            {
                offset: 200,
                duration:800,
                easing:'ease-in-out',
            }
        );
    </script> 

    <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>

<script type="text/javascript">
    (function(){
       emailjs.init("LvpJW8D1AeubLRR2N");
    })();
 </script>
    
    
</body>
</html>

