{% extends 'base.html' %} {% block content %}

<section class="mt-[80px] text-sm">
  <div>      
      <h1
        class="text-3xl font-mono uppercase font-bold underline text-center text-white bg-green-700/50 p-2 "
      >
        Careers
      </h1>
      <p class="py-5 text-lg">
        Collaboration, Integrity and excellence are at the heart of our thriving
        culture. We believe in working together ,leveraging diverse talents and
        delivering exceptional results in the world of logistics. At Offshore
        Global Logistics, we value the unique perspectives and skills that each
        individual brings, fostering an inclusive environment where everyone
        feels empowered to contribute their best.
      </p>
    
  </div>
</section>

<section class="flex justify-center">
    <div class="flex justify-center items-center text-center p-3">
      <img
        class="w-[500px] h-[200px] object-cover"
        src="{{url_for('static', filename='media/IMG-20230718-WA0009.webp')}}"
      />
      <div class="absolute bg-green-600/70 p-2 text-2xl font-medium shadow-2xl rounded-md"> 
        Our Culture
      </div>
      <a
        href="{{url_for('PC')}}"
        class="absolute mt-[230px] font-medium text-xl hover:text-green-600">
        Read More</a
      >
    </div>
   
  </div>
</section>
<div class="flex justify-center py-3
">
  <button
    class="border-2 border-solid border-red-700 p-4 mt-8 rounded-full font-medium text-lg shadow-xl"
  ><a href="https://www.linkedin.com/company/offshoregloballogisticsltd/jobs/" target="blank">
    Discover Open Opportunities</a>
  </button>
</div>

{% endblock %}
