{% extends 'base.html' %}

{% block content %}
<div class="py-6 mt-16">
    <h2 class="text-green-700 font-bold text-xl pl-10">
      CORPORATE CODE OF CONDUCT
    </h2>
  
    <h2 class="pl-10 text-green-700 font-semibold text-lg">PREAMBE</h2>
    <article
      class="text-base max-w-7xl mx-20 max-md:text-left text-gray-700 text-justify py-2"
    >
Offshore Global Logistics Ltd is a logistics and supply chain firm whose operations span across the East
African region. We pride ourselves in being at the forefront of end-to-end supply chain solutions through
providing innovative, proactive, cost-effective services to our customers and in a sustainable way.
Our company is committed to operating in a way that minimizes our impact on the environment, promotes
positive social outcomes, and ensures good governance practices.
It is of great importance that as we pursue the provision of the highest quality supply chain solutions, the
highest standards of conduct and integrity be observed. Through this, we will bring more value to our
customers and stakeholders while building trust and ultimately contributing to the enrichment of the
values of our society. This code of conduct cuts across and applies to all our stakeholders, employees,
shareholders, customers, business partners and consultants.
For us to achieve this, Offshore Global logistics has set forth this Corporate Code of Conduct. We expect
all our stakeholders to adhere to these standards and consider them as the minimum acceptable
standards for doing business with Offshore Global Logistics Limited or any group of companies.

<h2 class="text-green-700 font-semibold text-xl">Principles and standards of business conduct.</h2>
<h3 class="text-green-700 font-semibold text-xl">Provision of quality services</h3>
We shall, at all times, endeavor to provide logistics and supply chain services of outstanding quality while
paying close attention to the safety and integrity of both our business and those of our clients.

<h2 class="text-green-700 font-semibold text-xl">Compliance with Laws</h2>
Offshore Global Logistics complies with all the applicable laws and regulations of the countries it
operates. It is therefore required that all our employees and stakeholders including contractors and
agents observe the highest standards of conduct. Any businesses which contravene the laid down
regulations must be turned down. Offshore shall not provide any services that are considered illegal.

<h2 class="text-green-700 font-semibold text-xl">Prohibition of Bribery</h2>
Offshore Global logistics prohibits payment or a promise to pay any financial or non-financial advantage
of any form for the purpose of business or other gains. Employees of offshore Global Logistics are
forbidden from demanding, accepting or accepting a promise of money or any form of reward for the
purpose of any business or individual gain to the paying party.
Prohibition of conflict of interest
Offshore Global Logistics employees shall not engage into other activities, roles or tasks that can violate
the interests of the company. We shall engage in trade with vendors with fairness and objectivity without
violation of the interests of the company whether or not by promoting self-interests, those of a family
member(s), relatives, friends, acquittances or organizations.
Management must be informed whenever there is a financial participation (greater than one percent) by
immediate family members.
<h2 class="text-green-700 font-semibold text-xl">Safeguarding company assets</h2>
Offshore Global Logistics places great value on the integrity of her employees. Our success is pegged on
the innovativeness of our employees and the experience they have gained over the years. Therefore, all
Offshore Global Logistics employees must ensure the business secrets of the company are kept secret.
Publicizing operational and other business secrets without permission, passing information to third parties
or use of information for self-gain is strictly forbidden.
The use of Offshore Global logistics operational resources, including IT infrastructure by staff and
stakeholders, including suppliers and clients for personal gain without the right approval, unless this has
been allowed in the work contract is forbidden.
<h2 class="text-green-700 font-semibold text-xl">Public and Media dealings</h2>
At Offshore Global Logistics, we understand that providing the public and the media with well thought
out, clear and consistent information strengthens our image. Therefore, all statements to the public or
the media relating to Offshore Global Logistics can only be made after consultation and approval by the
authorized employees.
<h2 class="text-green-700 font-semibold text-xl">Fair dealings</h2>
We value our customers, business partners and suppliers. Employees must deal fairly with our
customers, business partners and suppliers and treat them with honesty and respect.
<h2 class="text-green-700 font-semibold text-xl">Theft and Fraud</h2>
Offshore Global Logistics employees must only use the company resources for legitimate business
purposes and are mandated to protect them from theft, misuse or loss. Theft of company resources is a
criminal offense.
<h2 class="text-green-700 font-semibold text-xl">Prohibition of conflict of interest</h2>
Offshore Global Logistics employees shall not engage into other activities, roles or tasks that can violate
the interests of the company. We shall engage in trade with vendors with fairness and objectivity without
violation of the interests of the company whether or not by promoting self-interests, those of a family
member(s), relatives, friends, acquittances or organizations.
Management must be informed whenever there is a financial participation (greater than one percent) by
immediate family members.

<h2 class="text-green-700 font-semibold text-xl">Relationship with its People and the Society</h2>
<h3 class="text-green-700 font-semibold text-xl">Environmental protection</h3>
We shall uphold the legal regulations related to environmental protection and will engage actively in
protection and preservation of the environment.
Political and religious activities
Offshore Global Logistics does not have any political or religious affiliations. The organization will not
allow any political activities to be undertaken within its premises or during any of the business activities.

<h3 class="text-green-700 font-semibold text-xl">Prevention of Discrimination</h3>
Offshore Global Logistics guarantees its employees of a working environment free of discrimination. Any
forms of aggravation or disadvantage on account of race, ethnic origin, religion, disability, age, gender or
sexual identity will not be tolerated.
We expect our employees and management to focus on promoting equality amongst fellow staff.

<h2 class="text-green-700 font-semibold text-xl">Creating and Maintaining Safe and Fair working Conditions</h2>
Offshore Global Logistics takes great responsibility for its employees and strives to ensure an attractive
working environment. We strive to ensure the safety and health of our employees. We ensure fair
renumeration and reasonable working hours in line with the laid out legal framework. We condemn
strongly all forms of child or forced labor.

<h3 class="text-green-700 font-semibold text-xl">Social Contribution activities</h3>
As a good corporate citizen, Offshore Global Logistics promotes harmony with regional communities
and the international society. We are actively engaged in social contribution activities through our
business operations and sustainable development of our corporate value.

<h3 class="text-green-700 font-semibold text-xl">Sound corporate Accounting</h3>
Offshore Global Logistics shall ensure sound financial statements in compliance with the relevant laws
and regulations.

<h3 class="text-green-700 font-semibold text-xl">Promoting Diversity</h3>
Offshore Global Logistics embraces the diversity of its employees and we recognize the importance of
diversity in realizing sustainable growth through tapping into a wide range of human resources.
Offshore Global Logistics Code of Conduct Version 2021.4.0

<h2 class="text-green-700 font-semibold text-xl mt-10">IMPLEMENTATION AND ORGANIZATION</h2>
All employees of Offshore Global Logistics Ltd are obliged to adhere by this Corporate Code of
Conduct. Managerial staff are mandated with the responsibility of promoting the Code of Conduct as
role models in their area of responsibility.
The Code of conduct is reviewed regularly and adjusted in line with the current working conditions and
legislation.
Our stakeholders and clients will be notified of this corporate code of conduct.

</article>
</div>

{% endblock %}