{% extends 'base.html' %} {% block content %}
<div class="py-6 mt-16">
  <h2 class="text-green-700 font-bold text-xl pl-10 uppercase">ANTI-FRAUD & Anti-Corruption Policy</h2>

  <article class="text-lg max-w-6xl px-10 max-md:text-left text-gray-700 text-justify py-2">
    <h2 class="text-green-700 font-semibold text-lg">Scope and Purpose</h2>
    The purpose of this Anti-Bribery & Anti-Corruption Policy is not only prevent bribery and corruption
    but also safeguard the integrity and reputation of Offshore Global Logistics. While this policy is
    comprehensive, it should be noted that stricter local laws or regulations will take precedence.

     <h2 class="text-green-700 font-semibold text-lg">To whom does this Policy extend?</h2>
    This policy is applicable to all individuals within Offshore Global Logistics, including employees,
    officers, and directors. It encompasses not only those directly employed by Offshore Global
    Logistics or its affiliates but also includes temporary workers who are assigned by a staffing agency
    to work on behalf of Offshore Global Logistics.

    <h2 class="text-green-700 font-semibold text-lg">Where does this Policy Apply??</h2>
    We are committed to conducting all our operations and activities in compliance with applicable laws
    and regulations. As a result, this policy is applicable to all Offshore Global Logistics activities
    worldwide.

    <h2 class="text-green-700 font-semibold text-lg">What is Bribery and Corruption?</h2>
    <strong>Corruption</strong> is the improper exploitation of entrusted power for personal gain or for the benefit of
    one's family, friends, or acquaintances. This can manifest in forms such as bribery, kickbacks, and
    conflicts of interest.
    <br>
    <strong>Bribery</strong> refers to the inappropriate act of offering, giving, promising, receiving, accepting,
    authorizing, or soliciting something valuable to or from a person or entity in order to gain or
    maintain a business or other advantages. The term "something valuable" encompasses both
    tangible and intangible goods, as well as other items or benefits that hold economic value.
    <br>
    Bribery encompasses a wide range of actions, including, but not limited to:
    <ul class="list-disc ml-10">
        <li>Public bribery involving individuals within the government sector.</li>
        <li>Private bribery involving the commercial sector.</li>
        <li>Both direct and indirect bribery, which may involve the use of intermediaries, agents,
        subcontractors, or other third parties to facilitate the exchange of bribes.</li>
        <li>Kicking back a portion of a contract payment or any other form of benefit to another party, or
        receiving a kickback.</li>
        <li>Facilitation payments, which refer to unofficial payments made to expedite actions that the payer
        is already entitled to, or other unofficial payments made to government officials in order to secure
        certain favours or advantages.</li>
    </ul>
    <br>
    Offshore Global Logistics has a strict policy against bribery and corruption, which means that
    employees, officers, and directors are prohibited from engaging in the following activities:
    <ul class="list-disc ml-10">
    <li>Any form of bribery or corruption, whether active or passive, direct or indirect. Enabling such
    actions is also strictly forbidden.</li>
    <li>Arranging, giving, offering, or approving bribes or any improper transfers of value, even if they are
    intended to benefit Offshore Global Logistics.</li>
    <li>Involvement in facilitation payments, whether making, receiving, or participating in such
    transactions.</li>
    <li>Soliciting or accepting bribes, kickbacks, or any improper transfers of value for personal gain or on
    behalf of family, friends, acquaintances, or co-workers.</li>
    <li>Receiving, approving, or offering gifts or entertainment that are deemed unreasonable,
    inappropriate, or disproportionate. This applies regardless of whether the recipients are
    government officials or other business partners, as it should not unduly influence business
    decisions.</li>
    <li>Holding external positions or engaging in activities outside of Offshore Global Logistics that could
    potentially create conflicts of interest or be perceived as such.</li>
    <li>Engaging in actions that provide unwarranted preferential treatment, whether utilizing company
    resources or not, for the benefit of family, friends, acquaintances, or creating an appearance
    thereof.</li>
    <li>Entering into agreements on behalf of Offshore Global Logistics that could be seen as conflicts of
    interest or give rise to such perceptions.</li>
    <li>Making monetary or in-kind contributions, on behalf of Offshore Global Logistics, to government
    officials, political parties, organizations, or individuals involved in politics or charities closely
    associated with government officials</li>
    </ul>

    <h2 class="text-green-700 font-semibold text-lg"> ORGANIZATIONAL MEASURES</h2>
    Offshore Global Logistics has implemented a comprehensive set of controls to address potential
    issues related to bribery and corruption. These controls include:
    <ul class="ml-10 list-disc">
        <li>Conducting regular risk assessments to identify areas of vulnerability and potential risks.</li>
        <li>Establishing robust policies and guidelines that outline the expected behaviour and
    standards regarding bribery and corruption.</li>
        <li>Providing training programs and effective communication channels to educate employees
    about their responsibilities and the company's zero-tolerance policy towards bribery and
    corruption.</li>
        <li>Conducting audits and implementing monitoring systems to ensure compliance with the
    established policies and guidelines</li>
        <li>Establishing clear reporting channels that allow employees, business partners, and other
    stakeholders to report any concerns or suspected violations related to bribery and corruption.</li>
        <li>Initiating thorough investigations to assess reported concerns and allegations, and
    implementing appropriate disciplinary processes to address confirmed cases of bribery and
    corruption.</li>
    </ul>
    <br>
    By implementing these measures, Offshore Global Logistics aims to prevent, detect, mitigate, and
    resolve potential bribery and corruption issues effectively.
    Violation of this policy is considered a significant breach of Offshore Global Logistics' Code of
    Conduct, and appropriate disciplinary actions will be taken, which may include the termination of
    employment. In certain circumstances, Offshore Global Logistics may also report the violation to
    enforcement authorities.

    <h2 class="text-green-700 font-semibold text-lg">Conflicts of interest</h2>

    Offshore Global Logistics requires its employees to proactively avoid any conflicts of interest and
    to disclose any situations where such conflicts may arise or be perceived. Ancillary activities or
    outside financial interests should not compromise an employee's integrity, objectivity, or pose a
    risk to Offshore Global Logistics. It is important for employees to disclose potential conflicts of
    interest and to seek prior written permission from Offshore Global Logistics, in accordance with
    the Conflict-of-Interest Guidelines and relevant policies and procedures, before engaging in any
    ancillary activities.<br>
    Furthermore, Offshore Global Logistics strictly prohibits employees from making or receiving
    facilitation payments.

    <h2 class="text-green-700 font-semibold text-lg">Keeping Accurate Books and Records</h2>
    Offshore Global Logistics emphasizes the need for employees to maintain accurate books and
    records of business transactions. This includes ensuring proper registration and documentation
    of various activities, such as expenses claimed by Offshore Global Logistics employees and
    exchanges of gifts and entertainment with third parties. By upholding these practices, Offshore
    Global Logistics promotes transparency, integrity, and compliance with financial and regulatory
    standards. Accurate record-keeping is essential for maintaining the trust of stakeholders and
    ensuring the company's adherence to applicable laws and regulations.<br>
    Offshore Global Logistics places a strong emphasis on the reporting and resolution of any issues,
    violations, or concerns related to its policies, particularly those pertaining to bribery and
    corruption. Employees, business partners, and third parties are encouraged to promptly report
    such matters to the relevant offices of the company.<br>
    Offshore Global Logistics fully supports individuals who refuse to participate in bribery or
    corruption and will not tolerate any form of retaliation against them or those who report concerns
    in good faith. If you believe that your report may have led or is leading to negative consequences,
    it is important to contact Offshore Global Logistics.<br>
    Any violation of this policy is considered a significant breach of Offshore Global Logistics' Code of
    Conduct and will be met with proportionate disciplinary actions, including the potential
    termination of employment. In certain circumstances, Offshore Global Logistics may also report
    the violation to relevant enforcement authorities.
    <br>
    <h2 class="text-green-700 font-semibold text-lg">Reporting and Resolving an Issue, Violation or Complaint</h2>   
    Offshore Global Logistics is committed to fostering a culture of integrity, transparency, and
    accountability, and encourages everyone to contribute to the prevention and detection of bribery
    and corruption through the reporting and resolution processes outlined in its policies.
    <br>
    <h2 class="text-green-700 font-semibold text-lg">RESPONSIBILITIES AND CONSEQUENCES</h2>
     <strong>Employees, Officers, and Directors</strong><br>
    Employees, officers, and directors of Offshore Global Logistics are required to take immediate
    action if they suspect any instances of bribery or corruption by reporting their suspicions to the
    Authorities and Offshore Global Logistics. Additionally, if they feel comfortable, they should inform
    their department manager or relevant representative about any suspected cases of bribery or
    corruption.<br>
    By promptly reporting suspicions and cooperating with relevant departments, Offshore Global
    Logistics aims to ensure the prevention and effective handling of bribery and corruption cases,
    maintaining a culture of integrity and ethical conduct.
    <br>
    <strong>Managers</strong><br>
    Managers play a critical role in preventing, detecting, and reporting suspicions of bribery or
    corruption within Offshore Global Logistics. They are responsible for overseeing the development
    and maintenance of effective controls in this regard.<br>
    If managers have any suspicions of bribery or corruption, they are required to promptly report
    them to the Ethics Office. If necessary, they should escalate the matter to higher-level (line)
    management for appropriate action. By fulfilling these responsibilities, managers contribute to
    maintaining a culture of integrity and compliance with anti-bribery and anti-corruption standards
    at Offshore Global Logistics.<br>
    <h2 class="text-green-700 font-semibold text-lg">CONSEQUENCES</h2>
    Any act performed by an employee that goes against the provisions stated in this policy will be
    deemed a significant violation of Offshore Global Logistics' Code of Conduct and this policy. In the
    event of a violation, appropriate disciplinary measures will be implemented, including the potential
    termination of the employee's employment, proportionate to the severity of the breach.<br>
    It is crucial to acknowledge that engaging in acts of bribery or corruption may result in external
    ramifications. Individuals involved, including the employees and business partners, may face legal
    consequences, including personal, civil, administrative, and criminal sanctions or liabilities.
    Furthermore, such actions can inflict damage upon the reputation of the individuals involved as
    well as that of Offshore Global Logistics.<br>
    <h2 class="text-green-700 font-semibold text-lg">REPORTING TO AUTHORITIES</h2>
    In the event that a violation of law or external regulations is substantiated, Offshore Global
    Logistics may have an obligation to report or inform the appropriate enforcement authorities,
    such as the police or regulatory bodies. This action is taken to ensure compliance with applicable
    laws and regulations. Offshore Global Logistics further retains the right to initiate separate legal
    proceedings against the individuals or entities involved in the violation.

    <h2 class=" text-green-700 font-semibold text-lg">Questions</h2>
    Offshore Global Logistics holds the expectation that all employees and business partners will
    consistently uphold the standards set forth in the Code of Conduct and this policy. It is crucial to
    exercise good judgment and, if necessary, seek guidance or support when faced with
    uncertainties. In case there are any inquiries regarding this policy or the relevant laws and
    regulations, individuals are advised to reach out to their department manager or the relevant
    offices. These avenues are in place to help and address any questions that may arise.

    <h2 class="text-green-700 font-semibold text-lg">Exceptions</h2>
    In the event that an exceptional circumstance arises which necessitates a departure from the
    minimum requirements outlined in this policy or other Offshore Global Logistics policies
    referenced herein, the responsible manager is required to seek written authorization from the
    policy owner through a waiver request.
    Local Offshore Global Logistics entities or departments may establish more stringent regulations
    based on local laws, regulations, or risk assessments. However, these rules must align with the
    requirements of this policy, and the policy owner must always be kept informed.
    Any deviation from this policy must receive written approval from the policy owner.<br>
    <strong>NOTE:</strong>
    <br>
    <em> Please be aware that this policy is supplementary in nature, and any relevant local laws or regulations
    take precedence. This policy must not contradict any local laws or regulations, and in the event of a
    conflict, the law or regulation will prevail. If the terms of this policy are more stringent than the
    applicable legislation or offer additional protections, rights, or remedies, the terms of this policy will take
    precedence. In cases where there are differences in interpretation due to various translations, the English
    version of the policy will be considered authoritative.</em>
    <br>
    <div class="ml-20 break-words">
    You can report suspect violations of this Policy to Offshore Global Logistics at:<br>
    P.O. BOX 50610-00100
    NAIROBI
    KENYA<br>
    PH: +254 (0) 111 052251<br>
    E-mail : info@offshorelogistics.co.ke<br>
    Offshore Global Logistics will keep the reported information confidential, provided it does not
    hinder any investigation that may follow thereafter.</div>
  </article>
{% endblock %}