{% extends 'base.html' %}

{% block content %}
    <section class="mt-20 max-w-4xl">
        
            <div class="text-justify break-words p-5 max-md:text-start min-[1100px]:mx-20">
                <h2 class="text-green-600 text-xl uppercase">Diversity & Inclusion</h2>

                <p>
                    At Offshore Global Logistics, we recognize that our strength lies in the unique perspectives, backgrounds, and experiences of our team members. We believe that a diverse and inclusive workforce fosters creativity, innovation, and a richer understanding of the world around us.
                    <br>
                    <br>

                    <strong>Valuing Uniqueness: </strong> We celebrate the differences that make each individual special. Our inclusive environment welcomes all voices, and we actively seek to create a workplace where everyone feels valued, respected, and empowered to contribute their authentic selves.
                    <br>

                    <strong>Equal Opportunities:</strong> We are committed to providing equal opportunities for growth and success to all team members, regardless of their background, gender, ethnicity, age, or any other characteristic. Our hiring, promotions, and development processes are designed to be fair, transparent, and unbiased.
                    <br>

                    <strong>Cultivating Inclusion: </strong>We believe in fostering an inclusive culture where diverse perspectives are not only heard but embraced. By embracing diversity, we broaden our horizons, challenge assumptions, and drive innovation that sets us apart in the logistics industry.
                
                </p>
            </div>
        
    </section>

{% endblock %}