{% extends "base.html" %} {% block content %}
<div class="py-6 mt-16">
  <h2 class="text-green-700 font-bold text-xl pl-10">
    ENVIRONMENTAL SOCIAL GOVERNANCE POLICY
  </h2>

  <h2 class="pl-10 text-green-700 font-semibold text-lg">Introduction</h2>
  <article
    class="text-base max-w-7xl px-10 max-md:text-left text-gray-700 text-justify py-2"
  >
    Offshore Global Logistics Ltd is a logistics and supply chain firm whose
    operations span across the East African region. We pride ourselves in being
    at the forefront of end-to-end supply chain solutions through providing
    innovative, proactive, cost-effective services to our customers and in a
    sustainable.<br> <strong>Message from Management</strong>:<br> Our company’s reputation is above all
    founded on the quality of its people who are highly experienced,
    professional and dynamic individuals with a driving commitment to customer
    service. <br />
    Our company is committed to operating in a way that minimizes our impact on
    the environment, promotes positive social outcomes, and ensures good
    governance practices. This ESG manual outlines our policies, practices, and
    procedures in these areas. <br />

    <h2 class="text-green-700 font-semibold text-lg  pt-2">Purpose</h2>
    
    The purpose of this ESG policy is to outline Offshore Global Logistics’ ESG
    and responsible investment philosophy and its commitments and by doing so
    provide guidelines for how ESG aspects are handled in our operations.
    Offshore’s day-to-day management of ESG matters and how it is integrated
    across the company is the responsibility of the management. The Management
    of Offshore Global Logistics shall constitute ESG Committee and the ESG
    Committee will assist with handling all ESG related matters.<br />
    Environmental, social, and governance (ESG) criteria have been used for
    years to assess a company’s performance beyond the black-and-white lines of
    a profit-and-loss statement, challenging executives to measure the value
    their businesses create in the context of more fundamental ethical values.
    <br />
    For Logistics sector, an ESG framework calls for sustainable energy and
    waste management systems, investment in community health, and demands that
    leaders embrace diversity and inclusion as essential duties.
    <h2 class="text-green-700 font-semibold text-lg pt-2">Standards</h2>
    The Offshore Global Logistics Environmental Social and Governance policy
    shall meet the following:

    <ul class="list-disc ml-10">
      <li>Host Country Environmental and Labour Legislation;</li>
      <li>IFC Environmental and Social Performance Standards;</li>
      <li>Sustainability principles advocated by the UN Global Compact;</li>
      <li>UN Guiding Principles on Business and Human Rights;</li>
      <li>ILO Declaration on Fundamental Principles and Rights at Work;</li>
      <li>International Bill of Human Rights.</li>
    </ul>
    <br />
    <h2 class="text-green-700 font-semibold text-lg pt-2">Principles</h2>
    <strong>Sustainability</strong> - The guiding ESG policy and Environmental
    and Social Management System (ESMS) established by Offshore Global Logistics
    provides an opportunity to incorporate environmental and social
    considerations in the design of the climate change mitigation activities to
    ensure sustainability.<br />
    <strong>Do No Significant Harm</strong> – any operatins activity cannot
    cause significant harm to any of the following objectives: climate change
    mitigation, climate change adaptation, sustainable use and protection of
    water and marine resources, transition to a circular economy, pollution
    prevention and control, protection and restoration of biodiversity and
    ecosystem.<br />
    <strong>The IFC’s mitigation hierarchy</strong> - is adopted, which aims to
    anticipate and avoid, or where avoidance is not possible, minimize or
    mitigate, and, where residual impacts remain, compensate/offset for risks
    and impacts to workers, affected communities, and the environment. Fit for
    purpose - To achieve this, the DPs will adopt a risk-based approach to
    ensure that E&S requirements and processes are commensurate with the level
    of risk and nature of the projects.<br />
    <strong>Gender equality</strong> - A gender-sensitive approach will be
    adopted as part of identifying social risks and impacts which will link the
    corresponding gender risk management measures to activity-level gender
    action plans.<br />
    Offshore Global Logistics shall design and implement projects and programmes
    in a manner that will
    <strong>promote, protect and fulfil universal human rights</strong>
    recognized by the United Nations as well as
    <strong>respect workers’ rights</strong> in line with the ILO Declaration on
    Fundamental Principles and Rights at Work, prohibiting forced, compulsory
    and child labour including in supply chain.<br />
    The design and implementation of activities will be guided by the rights and
    responsibilities set forth in the United Nations Declaration on the
    <strong>Rights of Indigenous Peoples.</strong>
    <br />
    <h2 class="text-green-700 font-semibold text-lg pt-2">ESG Policy Statement</h2>
    Offshore Global Logistics recognizes that our operations can have impacts on
    the environment. We also believe that it has a responsibility to positively
    impact communities in which we operate and recognizes that good governance
    practices are essential for the long-term success of our company.<br />
    <ul class="list-disc ml-10">
      <li>
        To ensure that we have minimized the impacts to the environment, have a
        positive impact to the community and good governance, Offshore Global
        Logistics is committed to;
      </li>

      <li>Complying with all applicable environmental laws and regulations;</li>
      <li>
        Monitoring our environmental impact, including our carbon emissions, and
        setting goals to reduce it over time;
      </li>

      <li>
        Reducing waste by promoting recycling and minimizing the use of
        single-use materials;
      </li>
      <li>
        Conserving natural resources, such as water and energy, through
        efficient operations and sourcing of materials;
      </li>
      <li>
        Working with our suppliers to ensure they adhere to the same
        environmental standards as us;
      </li>
      <li>
        Treating our employees fairly and with respect, providing them with a
        safe and healthy working environment;
      </li>
      <li>
        Promoting diversity and inclusion in our workforce, recognizing the
        value of different perspectives and experiences;
      </li>
      <li>
        Engaging with our stakeholders, including customers, suppliers, and the
        wider community, to understand their needs and concerns, and to respond
        to them in a responsible way;
      </li>
      <li>
        Supporting social causes and charities through philanthropic efforts;
      </li>
      <li>
        Ensuring our board of directors is diverse and independent, with
        appropriate skills and experience to provide effective oversight and
        guidance;
      </li>
      <li>
        Maintaining strong ethical standards and a culture of integrity
        throughout our company;
      </li>
      <li>
        Being transparent in our reporting, providing timely and accurate
        information to stakeholders about our operations, financial performance,
        and ESG practices; and
      </li>
      <li>
        Identifying and managing risks to our business, including those related
        to ESG factors, and reporting on those risks to stakeholders.
      </li>
    </ul>
    <br />
    <h2 class="text-green-700 font-semibold text-lg pt-2">Conclusion</h2>
    Our company is committed to operating in a way that is environmentally
    sustainable, socially responsible, and governed with integrity. We believe
    that by doing so, we can create long-term value for our stakeholders and
    contribute to a better world for future generations.
    <br />
    <h2 class="text-green-700 font-semibold text-lg pt-2">
      ESG Governance Structure, Roles and Responsibilities
    </h2>
    For ESG framework to function properly, it is essential that roles and
    responsibilities for carrying out the necessary procedures and making
    decisions are clearly defined. This section defines roles and responsibility
    of key stakeholders in the ESG framework implementation which is summarized
    in the below:
    <br />
    <ul class="ml-10 list-disc">
      <li>
        Offshore Global Logistics shall develop an effective governance
        structure with a clear set of roles and responsibilities in order to
        implement the ESG;
      </li>
      <li>
        The approach for developing an ESG governance structure is based on a
        holistic approach to sustainability, with a joined-up structure that
        operates across the Company. Integration is thus required across
        business teams dealing with different customer segments, geographies,
        business functions, product, and revenue models;
      </li>
      <li>
        The ESG governance structure and corresponding roles and
        responsibilities are developed in a way to gradually develop a
        cross-functional team of people trained and calibrated on ESG aspects;
        and
      </li>
      <li>
        The ESG governance structure for the company represents all the relevant
        internal business and operations areas, led by a member of the
        Leadership Team. The performance related to various ESG aspects is
        reviewed at the Leadership;
      </li>
    </ul>
    <br />
    The following ESG governance structure is adopted for ESG management as part
    of core business functions: The Company understands the importance of a
    clear and robust ESG governance structure, which is an essential component
    for long-term success.
    <h2 class="text-green-700 font-semibold text-lg pt-2">ESG Objectives</h2>
    ESG objectives of Offshore Global Logistics are developed to guide our
    efforts to build sustainable development capability and ensure that ESG
    considerations are integrated into all of our business decisions and every
    operational level. Our ESG objectives are based on six strategic pillars:
    <h2 class="text-green-700 font-semibold text-lg pt-2">Governance</h2>
    <strong>Objective:</strong> we strive to conduct business according to the
    highest ethical and legal/regulatory standards, while being timely in
    communicating our performance To achieve this, we are pursuing and
    strengthening the following:
    <ul class="list-disc ml-10">
      <li>Corporate governance</li>
      <li>Risk management</li>
      <li>Disclosure and reporting</li>
    </ul>
    <h2 class="text-green-700 font-semibold text-lg pt-2">Economic Performance:</h2>
    <strong>Objective:</strong> we strive to create long-term and sustainable
    value for investors and shareholders. To achieve this, we are pursuing and
    strengthening the following:
    <ul class="list-disc ml-10">
      <li>Financial performance</li>
      <li>Investor relations</li>
    </ul>
    <h2 class="text-green-700 font-semibold text-lg pt-2">
      Environmental Performance:
    </h2>
    <strong>Objective:</strong> we strive to design, construct and manage our
    trucks, operations and buildings sustainably with the aim of minimizing the
    environmental impact of our operations and improving the efficient use of
    resources. To achieve this, we are managing the following key impact areas
    of our operations:
    <ul class="list-disc ml-10">
      <li>Climate change</li>
      <li>Energy management</li>
      <li>Waste management</li>
      <li>Water management</li>
      <li>Green building certificates</li>
    </ul>
    <h2 class="text-green-700 font-semibold text-lg pt-2">Employees:</h2>
    <strong>Objective:</strong> we strive to ensure that all employees receive
    fair and impartial treatment, operate in a safe and comfortable working
    environment as well as a sustainable career platform. To achieve this, we
    are focused on the core areas of:
    <ul class="list-disc ml-10">
      <li>Talent attraction and retention</li>
      <li>Health, Safety and well-being</li>
      <li>Diversity and inclusion</li>
    </ul>
    <h2 class="text-green-700 font-semibold text-lg pt-2">Partners:</h2>
    <strong>Objective:</strong> we strive to forge long-term and responsible
    partnerships with our business partners and other key parties to enhance ESG
    performance together. We have identified a number of important partners who
    can support and benefit from our ESG objectives:
    <ul class="list-disc ml-10">
      <li>Suppliers</li>
      <li>Partners</li>
      <li>Contractors</li>
      <li>Industrial associations</li>
    </ul>
    <h2 class="text-green-700 font-semibold text-lg pt-2">Communities:</h2>
    <strong>Objective:</strong> we strive to transform places into vibrant and
    sustainable communities as well as appropriately integrate communities’
    livability into our decision-making. To achieve this, we are focused on the
    core areas of:
    <ul class="list-disc ml-10">
      <li>Community investment and volunteering</li>
      <li>Community engagement</li>
      <li>Local economy</li>
    </ul>
    <h2 class="text-green-700 font-semibold text-lg pt-2">ESG Committee</h2>
    An ESG Committee dedicated to identifying, managing and evaluating
    environmental, social and governance issues shall be established. The ESG
    Committee is chaired by the Managing Director and comprises representative
    from all departments.
    <h2 class="text-green-700 font-semibold text-lg pt-2">
      Diversity Equity and Inclusivity
    </h2>
    Offshore Global Logistics supports equal opportunity in its employment
    practices, including the selection, hiring, promotion, transfer, and
    compensation of qualified applicants and employees without regard to any
    characteristic protected by applicable law, including, but not limited to,
    race and/or ethnicity, color, gender, gender identity, gender expression,
    sexual orientation, age, religion or belief, national origin or ancestry,
    citizenship status, language, political affiliation, social or economic
    status, veteran or military status, marital status, familial status,
    pregnancy, physical or mental disability, medical conditions, genetic
    information. Offshore Global Logistics does not tolerate harassment of any
    of its employees, applicants, vendors or customers, and seeks to maintain a
    work environment free from harassment. Any form of harassment related to an
    individual’s race and/or ethnicity, color, gender, gender identity, gender
    expression, sexual orientation, age, religion or belief, national origin or
    ancestry, citizenship status, language, political affiliation, social or
    economic status, veteran or military status, marital status, familial
    status, pregnancy, physical or mental disability, medical conditions,
    genetic information, and/or any other characteristic protected by applicable
    law is a violation of this policy and is treated as a disciplinary matter.
    <h2 class="text-green-700 font-semibold text-lg pt-2">
      ESG Performance Evaluation System
    </h2>
    To further consolidate our commitment to sustainable development, we have
    developed a vision with specific targets for 2030, with the aim of
    monitoring the continuous improvement of ESG performance. The ESG committee
    should review on an annual basis the ESG performance of the Company in
    achieving targets. The employees’ ESG-related performance is incorporated
    into their overall functional performance, though the evaluation criteria
    may differ in different employee types. Written recognition, rewards as well
    as monetary benefits are contingent upon the achievement of the annual
    performance targets.
    <h2 class="text-green-700 font-semibold text-lg pt-2">
      Stakeholder Engagement Measures
    </h2>
    Key stakeholders have an impact on Offshore Global Logistics and are closely
    related to our business, which are shareholders/investors, government
    authorities, neighbors, partners, employees and communities/
    nongovernmental, non-profit organizations (NGOs). We are committed to
    establishing multi-faceted communication and contacts with all stakeholders
    in order to have in-depth understanding and actively respond to
    stakeholders’ opinions and demands. The impacts of our operations on
    stakeholders should be periodically assessed, measured and reported.
    <h2 class="text-green-700 font-semibold text-lg pt-2">
      Monitoring and Reporting
    </h2>
    Offshore Global Logistics shall adopt a robust set of procedures to ensure
    that the business activities are in line with ESG requirements, and there is
    a process of undertaking continual assessment and improvement to the ESG
    procedures. The Management of Offshore Global Logistics shall nominate the
    ESG Committee and ESG Leader. The ESG Leader shall evaluate the adherence to
    ESG principles and procedures on quarterly and on an annual basis through an
    annual performance monitoring process. These include:
    <ul class="list-disc ml-10">
      <li>
        Quarterly monitoring procedures to track the progress made towards ESG
        integration
      </li>
      <li>
        Half-yearly reporting to the ESG management committee by the ESG Leader
      </li>
      <li>
        Annual review and monitoring procedures which includes annual
        performance assessment, implementation of upgrades to the ESG, including
        an update to the training programs.
      </li>
      <li>
        The ESG Committee shall half yearly report to the Board of Directors of
        the Company
      </li>
    </ul>
  </article>
</div>
{% endblock %}
