<!DOCTYPE html>  
<html lang="en" class="scroll-smooth h-full w-full m-0 p-0 overflow-x-hidden font-sans">
    <head> 
        <title>Offshore Global Logistics</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Offshore Global Logistics provides businesses with timely logistics services including air, road and sea freights, customs clearance and warehousing solutions in Kenya and across Africa."/>
        <meta name="keywords" content="Logistics company in Kenya">
        <meta name="keywords" content="Warehousing solutions in Kenya">
        <meta name="keywords" content="Customs Clearance companies in East Africa">
        <meta name="keywords" content="Logistics company in Uganda">
        <meta name="keywords" content="Logistics company in Tanzania">
        <meta name="keywords" content="Logistics solutions in  Nairobi">
        <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='media/offsh_icon.ico') }}" />
        <script src="https://kit.fontawesome.com/0603f90087.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        <script src="{{url_for('static', filename='js/main.js')}}" defer></script>
        <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    </head>
 
<body class="min-h-screen w-full bg-[#fdfdfd] overflow-clip font-sans">
    <header class="bg-white fixed top-0 z-[50] w-full ">
        <section class="w-full mr-10 p-2 flex justify-between sm:w-auto 2xl:ml-[30rem]">
            <a href="{{url_for('index')}}">
                <img  class="w-[140px]" src="{{url_for('static', filename='media/logo5.png' )}}" alt="logo"></a>
            <div>
                <button class="text-3xl md:hidden focus:outline-none" id="hamburger-button">
                    &#9776;
                </button>
              
                <nav class="hidden md:block mt-2 space-x-5 font-normal text-md " aria-label="main">

                    <button id="multiLevelDropdownButton" data-dropdown-toggle="multi-dropdown"  class="hover:text-green-500 hover:font-medium transition ease-in-out delay-100 hover:translate-y-1 " type="button">Menu</a><i class="fa-solid fa-caret-down fa-xl" style="color: #2abb43; padding-left: 5px;"></i>
                    </button>
                    
                    <!-- Dropdown menu -->
                    <div id="multi-dropdown" class="z-10 hidden border-r-2 border-l-2 border-green-500 px-2 bg-white divide-y divide-gray-100 rounded-lg shadow w-full h-screen mt-10 ">
                        <div class="py-2 text-sm flex space-x-16 text-gray-700 animate-open-menu mx-10" aria-labelledby="multiLevelDropdownButton">
                       
                            <div>
                                <h2 class="text-xl active:underline visited:underline font-medium">Services</h2>
                                <div class="px-2 py-2 border-r border-green-400 h-[80vh] text-green-600">
                                    <ul class="space-y-5" >
                                        <h3 class="text-lg font-semibold">Transportation & Fulfilment</h3>

                                        <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out"><a href="{{url_for('sea_freight')}}">Sea</a></li>
                                        <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out"><a href="{{url_for('air_freight')}}">Air</a></li>
                                        <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out"><a href="{{url_for('road_freight')}}">Transport & Distribution</a></li>
                                        <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out"><a href="{{url_for('FC')}}">Warehousing & Fulfillment</a></li>
                                       

                                        <h3 class="text-lg text-green-600 font-semibold">Others</h3>

                                        <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out"><a href="{{url_for('project_cargo')}}">Project Logistics</a></li>
                                        <li class="hover:font-bold hover:transition hover:-translate-y-1  hover:underline ease-in-out">Customs Clearance</li>
                                        <li class="hover:font-bold hover:transition hover:-translate-y-1  hover:underline ease-in-out">Courier
                                        Services</li>


                                    </ul>
                               
                                </div>
                            </div>       
                        
                            <div>
                                <h2 class="text-xl active:underline visited:underline font-medium">Company</h2>
                                <div class="px-2 py-2 border-r border-green-400 h-[80vh] text-green-600">
                                        <ul class="space-y-5" >
                                            <h3 class="text-lg font-semibold">Offshore Global Logistics</h3>
    
                                            <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out"><a href="{{url_for('About_Us')}}">About Us</a></li>
                                            
                                            <button id="dropdownDelayButton" data-dropdown-toggle="dropdownDelay" data-dropdown-delay="500" data-dropdown-trigger="hover" class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out text-center inline-flex items-center" type="button">Company Policies<svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                                                </svg>
                                                </button>
                                                
                                                <!-- Dropdown menu -->
                                                <div id="dropdownDelay" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                                                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDelayButton">
                                                    <li>
                                                        <a href="{{url_for('EnvPolicy')}}" class="hover:underline block px-4 py-2 hover:text-green-500">Environmental Policy</a>
                                                    </li>
                                                    <li>
                                                        <a href="{{url_for('LabourMgt')}}" class="hover:underline block px-4 py-2 hover:text-green-500">Labor Management</a>
                                                    </li>
                                                    <li>
                                                        <a href="{{url_for('Conduct')}}" class="block px-4 py-2 hover:text-green-500">Code of Conduct</a>
                                                    </li>
                                                    
                                                    <li>
                                                        <a href="{{url_for('Corruption')}}" class="block px-4 py-2 hover:text-green-500">Anti-Corruption Policy</a>
                                                    </li>
                                                    </ul>
                                                </div>
                                                
                                            <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out"><a href="{{url_for('Sustainability')}}">Sustainability</a></li>
                            
                                            <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out">Location</li>  
                                            <li class="hover:font-bold hover:transition hover:-translate-y-1  hover:underline ease-in-out"><a href="{{url_for('PC')}}">People & Culture</a></li>
                                            <li class="hover:font-bold hover:transition hover:-translate-y-1  hover:underline ease-in-out"><a href="{{url_for('careers')}}" >Careers</a></li>
                                            
        
                                        </ul>
                                </div>
                            </div>
                            <div>
                                <h2 class="text-xl active:underline visited:underline font-medium">Resources</h2>
                                <div class="px-2 py-2 border-r border-green-400 h-[80vh] text-green-600">
                                        <ul class="space-y-5" >
                                            <h3 class="text-lg font-semibold">Insights</h3>

                                            <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out">Company Profile</li>
                                            <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out"><a href="{{url_for('kebs')}}">KEBS Banned Products</a></li>
                                            <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out"><a href="{{url_for('faqs')}}">FAQ</a></li>  
                                </div>
                            </div>

                        
                        </div>
                    </div>
                    
                    <button class="hover:text-green-500 hover:font-medium transition ease-in-out delay-100 hover:translate-y-1"><a href="{{url_for('Offices')}}">Contact Us <i class="fa-regular fa-envelope fa-lg px-1" style="color: #000000;"></i></a></button>
                    <button class="hover:text-green-500 hover:font-medium transition ease-in-out delay-100 hover:translate-y-1 px-5"><a href="https://www.navicus360.com/login/" target="_blank">Navicus360</a></button> 
    
                    
                </nav>
            </div>
            
        </section>

        <!--Mobile menu-->
        <section id="mobile-menu" class="absolute top-0 bg-green-500/90 w-full text-2xl font-medium flex-col justify-center origin-top animate-open-menu hidden">
            <button class="text-6xl self-end px-6 ">
                &times;
            </button>
            <nav class="flex flex-col min-h-screen items-center py-6 text-gray-600" aria-label="mobile-menu">
                <a href="{{url_for('index')}}" class="w-full text-center hover:text-black py-3">
                    HOME
                </a>
                <a href="{{url_for('About_Us')}}" class="w-full text-center hover:text-black py-3">
                    ABOUT US
                </a>
                
            <button id="dropdownHoverButton" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="hover" class="w-full text-center hover:text-black py-3" type="button">SERVICES <i class="fa-solid fa-caret-down" style="color: #000000;"></i>
                </button>
                
                <!-- Dropdown menu -->
                <div id="dropdownHover" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700">
                    <ul class="text-sm text-gray-700 dark:text-gray-200 space-y-4 p-2"  aria-labelledby="dropdownHoverButton">
                        <li class="hover:font-bold hover:transition hover:-translate-y-1 hover:underline hover:text-green-500 ease-in-out"><a href="{{url_for('sea_freight')}}">Sea</a></li>
                        <li class="hover:text-green-500 hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out"><a href="{{url_for('air_freight')}}">Air</a></li>
                        <li class="hover:text-green-500 hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out"><a href="{{url_for('road_freight')}}">Transport & Distribution</a></li>
                        <li class="hover:text-green-500 hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out"><a href="{{url_for('FC')}}">Warehousing & Fulfillment</a></li>
                        <li class="hover:text-green-500 hover:font-bold hover:transition hover:-translate-y-1 hover:underline ease-in-out"><a href="{{url_for('project_cargo')}}">Project Logistics</a></li>
                        <li class="hover:text-green-500 hover:font-bold hover:transition hover:-translate-y-1  hover:underline ease-in-out">Customs Clearance</li>
                        <li class="hover:text-green-500 hover:font-bold hover:transition hover:-translate-y-1  hover:underline ease-in-out">Courier                                        Services</li>
                       
                    </ul>
                </div>
    
                <a href="{{url_for('Sustainability')}}" class="w-full text-center hover:text-black py-3">
                    SUSTAINABILITY
                </a>
                <a href="#" class="w-full text-center hover:text-black py-3">
                    NEWS
                </a>
                <a href="{{url_for('Careers')}}" class="w-full text-center hover:text-black py-3">
                    CAREERS
                </a>
                <a href="#" class="w-full text-center hover:text-black py-3">
                    SPEAK UP
                </a>

            </nav>
        </section>
    </header>
   
    <section  class="relative h-[100vh]">
        <div class="w-[calc(100vw-15px)] h-full relative -translate-x-[50%] left-[50%] ">
            <!--overlay-->   
            <div class="absolute top-0 left-0 w-full h-full z-20 bg-black/60 animate-zoom-in
            overflow-hidden"></div>
            
            
            
                <img class="w-full h-full object-cover animate-zoom-in overflow-hidden" src="{{url_for('static', filename='media/IMG_9930.webp') }}" alt="Warehouse Forklift">
                  
                <div class="relative text-right px-3 md:mr-12 font-medium text-3xl -mt-[450px] z-20 space-y-10 md:space-y-5 ">
                    <h2 class="text-slate-200 text-base">Unleash the Full Potential of Your Business</h2>
                    <h2 class="text-white mt-5 text-base font-serif md:text-4xl">Adaptable Logistics Services.<br> Fulfill Your Commitments To<br>Your Clients With Expertise<br>Powered By Technology.</h2>
                   <div class="space-x-5">
                    <button class="bg-green-600 text-white text-base py-1 px-2 md:py-2 md:px-4 rounded-xl">GET QUOTE<i class="fa-solid fa-arrow-right" style="padding-left: 5px;"></i> </button>
                    <button class="text-white text-lg"><i class="fa-solid fa-phone" style="margin-right: 5px;"></i>+254 (0) 11052245</button>
                    </div>
                    
                </div>
        </div>   
      <!---->
    </section>                  
        <main class="mt-1">   
           <section>
                <h1 class="ml-2 md:ml-10 text-green-500 font-semibold text-lg md:2xl underline mt-6">Celebrating A Milestone Together - OGL🤝HAYAT-KE</h1>
            <div class="w-full h-auto text-sm md:text-3xl flex flex-col md:flex-row ">
                <div id="particles-js" class="hidden md:w-[50%] h-[400px] mt-[100px] md:flex flex-col justify-center items-center px-2">
                   
                    <img class="w-[200px] h-[200px] pb-5 object-cover md:mt-10" src="{{url_for('static', filename='media/IMG_8706.webp')}}" />
                    

                    <blockquote class="italic before:content-[open-quote] before:text-sm before:text-green-800 after:content-[close-quote] after:text-sm after:text-green-800 text-left">I can't believe it's one year. It's been quite a journey for us, and the journey we've taken with this customer just exemplifies the DNA of offshore global logistics to bring in the best services for the best products, and to make sure that they get to the markets at the first product and the right quality... </blockquote>
                    <p class="text-green-500"> ~ Nicholas Kaluma, <span>Managing Director <br>Offshore Global Logistics</span> </p>

                    
                </div>
                <div class="md:w-[50%] h-[400px] mx-2 md:mr-2 ">
                    <video loop autoplay controls class="w-full h-full object-cover" src="{{url_for('static', filename='media/HAYAT.mp4')}}" ></video>
                </div>
           </div> 
           </section>
            <section>
                <div class="w-full h-full flex">
                    <div class="md:w-[50%] h-[400px] bg-blue-500 hidden md:flex">
                        <img class="w-full h-full object-cover" src="{{url_for('static', filename='media/IMG_9919.webp')}}" />
                         
                    </div>
                    <div class="md:w-[50%] h-[400px] bg-gray-700 p-14 text-white ">
                        <h1 class="font-semibold">What We Do</h1>
                        <h2 class="text-base font-bold py-6 md:2xl">Designing, Managing, and <br>Optimizing Supply Chains</h2>
                        <p>Our services improve the flow of goods through ecommerce fulfillment, flexible distribution, warehouse automation, and reverse logistics.</p>
                        <button class="mt-5 border border-green-500 px-6 py-2 rounded-full font-semibold">Discover Our Services</button>
                    </div>
                </div>
                <div class="w-full h-full flex">
                    
                    <div class="md:w-[50%] h-auto bg-white p-14 text-gray-800 ">
                        <h1 class="font-semibold">Industries We Serve</h1>
                        <h2 class="text-base font-bold py-6 md:2xl">From Ecommerce and Beverages To Pharmaceuticals and Beauty Products</h2>
                        <p>Our experience across various indstries & end-markets help companies, from high-growth market entrants to global leaders, operate more effeciently.</p>
                        <button class="mt-5 border bg-green-500 px-6 py-2 rounded-full font-semibold text-white">See Industries We Serve</button>
                        
                    </div>
                    <div class="hidden md:w-[50%] h-[400px] md:flex ">
                        <video loop autoplay muted class="w-full h-full object-cover" src="{{url_for('static', filename='media/Industries.mp4')}}" ></video>
                    </div>
                    
                </div>
                <div class="w-full h-full flex">
                    <div class="hidden md:w-[50%] h-[400px] bg-blue-500 md:flex">
                        <img class="w-full h-full object-cover" src="{{url_for('static', filename='media/solar.webp')}}" alt="Rooftop Solar Panels" />
                        <!--Add photos from Phenie's Drill day also solar photos-->
                    </div>
                    <div class="md:w-[50%] h-auto bg-gray-700 p-14 text-white ">
                        <h1>What We Value</h1>
                        <h2 class="text-base font-bold py-6 md:2xl">Impacting Our People,Partners & Planet Positively</h2>
                        <p>We consider environmental and social impacts in all our actions, from creating career opportunities that support diverse teams to optimizing operations for reduced energy use and enhanced environmental sustainability.</p>
                        <a href="{{url_for('Sustainability')}}"><button class="mt-5 border border-green-500 px-6 py-2 rounded-full font-semibold">See Our commitment to ESG</button></a>
                    </div>
                </div>
            </section>
            <section>
                <div class="p-14">
                    <h1 class="text-green-500 font-semibold text-2xl md:text-3xl">What is Navicus360 ?</h1>
                    
                    <div class="flex flex-col-reverse justify-center items-center py-10 text-base font-normal md:flex-row-reverse">
                        <img class="w-[400px] h-[400px] rounded-full shadow-2xl hidden md:block" src="{{url_for('static', filename='media/Navi.webp')}}"  />
                    <p>
                        Our innovative system, Navicus360, revolutionizes your shipping experience by providing unparalleled visibility into your products throughout the entire shipping process. With Navicus360, you can effortlessly track their shipments in real-time, receiving instant updates on the movement and location of their goods. This ensures complete transparency and peace of mind, enabling businesses and individuals to stay informed every step of the way. Whether it's knowing the exact transit location or receiving alerts on estimated delivery times, Navicus360 empowers our customers with the information they need to stay ahead.</p>
                    </div>
                </div>
            </section>
                    
                <section class="bg-[#e0dddd] text-sm md:text-lg">
                        <h2 class="font-bold text-center p-5">Offshore Global Logistics; Always here to serve your logistics & <br> supply chain needs!</h2>
                    <div class="pt-12 text-center">
                        <p>Learn how our integrity, high ethical standards and solid partnerships <br>
                             help foster effecient supply chain solutions for our clients.                       
                        </p>
                    </div>

                    <div class="flex flex-row row-span-2 justify-center py-4 w-full gap-10 max-[500px]:gap-5">
                        <a href="#"><div class="text-center text-lg shadow-green-500 font-bold border-2 border-red-600 text-red-700 w-40 p-2 rounded-2xl hover:border-green-600 2xl:text-2xl max-[500px]:w-32">TALK TO US</div></a>
                        
                    </div> 

                </section>
               
        </main>
        <footer class="bg-green-700 inset-x-0 bottom-0 pb-0 w-full text-lg text-white p-5 flex flex-col md:flex-row justify-center md:space-x-16">
            <section class="md:w-1/3">
                    <a href="#Home" class="2xl:h-[3rem]" ><img src= "{{url_for('static', filename='media/logo_black.png') }}" alt="footer logo"></a>
                <p class="text-justify"> Our company’s reputation is above all founded on the quality of its people who are highly experienced, professional and dynamic individuals with a driving commitment to customer service. Offshore Global logistics emphasizes versatility and personal service to their customers. We offer specialized services within a niche part of the logistics and supply chain industry in East Africa.</p>
                <div class="text-md mt-5 space-x-2 italic">
                    Social Media: 
                    <i class="fa-brands fa-linkedin fa-xl" style="color: #262a2e;"></i>
                    <i class="fa-brands fa-facebook fa-xl" style="color: #262a2e;"></i>
                    <i class="fa-brands fa-x-twitter fa-xl" style="color: #262a2e;"></i>
                </div>
            </section>
        
             <section class="flex flex-col space-y-2 md:space-y-5">
                <h2 class="font-semibold">Quick Links</h2>
                <ul>
                    <a><li>About Us</li></a>
                    <a><li>Our Services</li></a>
                    <a><li>Get In Touch</li></a>
                    <a><li>FAQ</li></a>
    
                </ul>
            </section>
            <section class="">
                <h1 class="font-bold text-white">Our Location</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.710088580665!2d36.89341127363164!3d-1.3504745986367341!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f0d378ae0ff27%3A0xa2f86df9a10a1649!2sOffshore%20Global%20Logistics%20Limited%20%26%20Fulfillment%20Centre!5e0!3m2!1sen!2ske!4v1732027704806!5m2!1sen!2ske" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </section>
           
        </footer>
        <p class="text-center w-full pb-0 mb-0 px-4 text-base min-[375px]:py-5 2xl:text-lg bg-green-700 text-white">&copy;2025 <span class="text-2xl">&#8739</span>All Rights Reserved <span class="text-2xl">&#8739</span>Offshore Global Logistics</p>
        
            
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script>
        particlesJS("particles-js", {
          particles: {
            number: {
              value: 100, // Number of particles
              density: {
                enable: true,
                value_area: 800 // Adjust density of particles
              }
            },
            color: {
              value: ["#58ef13", "#FFC300", "#ff0000", "#ffc000"] // Confetti colors
            },
            shape: {
              type: ["circle", "polygon", "star"], // Shapes of particles
              polygon: {
                nb_sides: 5 // Number of sides for polygons
              }
            },
            opacity: {
              value: 0.8, // Opacity of particles
              random: true
            },
            size: {
              value: 10, // Particle size
              random: true
            },
            line_linked: {
              enable: false // Disable connecting lines
            },
            move: {
              enable: true,
              speed: 5, // Speed of movement
              direction: "bottom", // Direction of movement
              random: false,
              straight: false,
              out_mode: "out", // Particles disappear out of bounds
              bounce: false
            }
          },
          interactivity: {
            detect_on: "canvas",
            events: {
              onhover: {
                enable: true,
                mode: "repulse" // Particles move away when hovered
              },
              onclick: {
                enable: true,
                mode: "push" // Adds particles on click
              }
            },
            modes: {
              repulse: {
                distance: 100, // Distance for hover effect
                duration: 0.4
              },
              push: {
                particles_nb: 4 // Particles added on click
              }
            }
          },
          retina_detect: true
        });
      </script>
      
      <script>
        var typed = new Typed (".auto-type", 
            {
                strings: ["Intelligent Logistics and Supply Chain Solutions"],
                typeSpeed: 100,
                backSpeed: 70,
                loop: true,
                fadeOut: true,
            showCursor:false
            
            })
      </script>

  <script>

    AOS.init(
        {
            
            offset: 200,
            duration:800,
            easing:'ease-in-out',
        }
    );
  </script>
    
</body>
</html>