{% extends "base.html" %}

{% block content %}
<div class="py-6 mt-16">
<h2 class="text-green-700 font-bold text-xl pl-10">LABOUR MANAGEMENT PLAN</h2>
    
<h2 class="pl-10 text-green-700 font-semibold text-lg">Scope and Purpose</h2>
<article class="text-base max-w-7xl px-10 max-md:text-left py-2 text-gray-700 text-justify">
The Labour Management Plan, LMP, is intended to set out the responsibilities and the 
management practices associated with the management of labour in all Offshore’s operations.
Its focus is to ensure that all Offshore’s operations comply with applicable environmental, 
health and safety and social requirements, ensure that all personnel associated with Offshore
comply with the obligations of the labour management and implement applicable Good 
International Practices (GIIPs) and to manage labour related issues in an appropriate manner.
The LMP applies to all personnel involved in Offshore’s operations. All personnel include the 
part-time, temporary, seasonal, and migrant employees, contractors and their subcontractors 
and their employees and lastly the primary suppliers. 
Objective 
The objectives of this Plan are to: 
<ul class="list-disc ml-10">
<li>Promote fair and equitable labour practices for the fair treatment, non-discrimination 
and equal opportunity of workers;</li>
<li>Establish, manage and promote a healthy management-worker relationship;</li>
<li>Protect workers’ rights including migrant and third party workers; and</li>
<li>Promote healthy, safe, secure and comfortable accommodation that does not impact 
negatively on the communities in the surrounding area;</li>
<li>Address child labour, and prevent worst forms of child labour;</li>
<li>Prevent the use of all forms of forced labour;</li>
<li>Protect workers, including vulnerable workers such as women, persons with disabilities 
and migrant workers, contracted workers, and primary supply workers, as appropriate; </li>
<li>Provide a Grievance Redress Mechanism (GRM) for workers to raise their concerns.
Applicable Regulations, Standards and Guidelines</li>
<li>UN Guiding Principles on Business and Human Rights, </li>
<li>ILO Declaration on Fundamental Principles and Rights at Work,</li>
<li>The sustainability principles advocated by UN Global Compact</li>
</ul>

<h2 class="ml-10 text-green-700 font-semibold text-lg pt-2">Roles and Responsibilities</h2>
<p class="ml-10">Offshore will ensure that the LMP is regularly updated and all the changes or the updates 
have been communicated to all employees, contractors, subcontractors and the primary 
suppliers. It is the employee’s responsibility to comply with the plan or seek clarifications if 
needed. 
The following roles and responsibilities will be in the plan;<br>
</p>

<ul class="list-disc ml-10">
<strong>E&S team</strong>
<li>Lead in the development and review of the Labour Management Plan working closely 
with other departments; </li>
<li>Carry out self-assessment and monitor Offshore’s operations to determine if the plan 
has been implemented.</li>
<strong>Departmental Managers</strong>
<li>Ensure the department’s LMP are aligned to Offshore’s regulations and international 
practices;</li>
<li>Ensure provision of necessary resources, including budget and competent personnel 
are provided to manage labour issues being aligned with requirements and 
commitments; and</li>
<li>Ensure the Offshore’s LMP is monitored and regularly reviewed.</li>
<strong>Human Resources team</strong>
<li>Ensure all employees have access to the LMP at all times in a language they 
understand;</li>
<li>Working closely with the E&S teams to develop and implement the LMP;</li>
<li>Monitor working hours and overtime hours of employees to ensure compliance with 
law;</li>
<li>Working closely with the E&S team to receive grievance, ensure they are documented
properly into the database;</li>
<li>Participate in the review, investigation, resolving and following up grievances; and</li>
<li>Ensuring that all employees have understood and signed the Code of Conduct.</li>
<strong>Subcontractors</strong>
<li>Develop their own Labour Management Plan in line with Offshore’s guidelines;</li>
<li>Implement the Labour Management Plan for all the Offshore’s operations they are 
supporting;</li>
<li>Ensure no child or forced labour is involved in the Offshore’s operations;</li>
<li>Develop a separate grievance mechanism which is in line with Offshore to collect and 
resolve grievance raised by their employees; and</li>
<li>Prepare and submit quarterly and annual report during their operations as per 
Offshore’s guidelines respectively.</li>
<strong>Employees</strong>
<ul class="list-disc">
<li>Participate in related trainings;</li>
<li>Comply with requirements in the Plan; and</li>
<li>Cooperate with the employer and others to enable them to fulfil their legal obligations.</li>
</ul>
<h2 class="text-green-700 font-semibold text-lg  pt-2">Labor Management</h2>

The Labour Management Policy shall be communicated in languages which are understood by
the employees, contractors/subcontractors and primary suppliers for further compliance and 
implementation.<br>
The Labour Policy shall cover the following areas: Working Relationship, Working conditions 
& Terms of Employment, Gender Equity, Harassment and Abuse, Workers’ Organizations, No Discrimination & Equal opportunity, Retrenchment, Grievance Mechanism, Child Labour and 
Forced Labour, Occupational Health and Safety, Workers Engaged by Third Parties and Supply 
Chain.<br>
<strong>Labour Use on Offshore’s operations</strong>    
<h3 class="font-semibold pt-2">Categorization of the workforce</h3>
The world Bank Environmental and Social Standards 2: Labour and Working (ESS2) 
categorizes workers into four categories:
<ul class="list-decimal ml-10">
<li><strong>Direct workers:</strong> People employed or engaged directly to work specifically for an 
operation.</li>
<li><strong>Contracted workers:</strong> People employed or engaged by third party contractors to 
perform work related to core function of an operation, regardless of location.</li>
<li><strong>Primary supply workers:</strong> People employed or engaged by the primary suppliers.</li>
<li><strong>workers:</strong> People employed or engaged in providing community</li>
</ul>
Any migrant worker who might be involved in Offshore’s operations like the international 
consultants will be required to adhere to individual countries laws regarding labour which 
include possessing a work permit.
<h2 class="text-green-700 font-semibold text-lg pt-2">Assessment of Key Potential Labour Risks</h2>
Most of the labour risks in Offshore’s operations will be associated with health and safety 
during the operational activities such as exposure to physical hazards such as: trip and fall 
hazards, exposure to noise, falling objects, exposure to hazardous materials and exposure to 
electrical hazards from the use of tools and machinery. Many workers will be exposed to 
occupational health and safety hazards, primarily including but not limited to:
<ul class="list-disc ml-10">
<li>Working at height</li>
<li>Movement and working on steep and treacherous terrain.</li>
<li>Traffic accidents.</li>
<li>Ergonomic hazards</li>
<li>Welding hazards (fumes, burns and radiation)</li>
<li>Steel erection (Racks) hazards.</li>
<li>Gender based violence (GBV) risks</li>
</ul>
<h2 class="text-green-700 font-semibold text-lg pt-2">Terms and Conditions of Employment</h2>
Terms and conditions of direct workers are determined by their individual contracts. 
Permanent staff will have individual agreements (labour contract or service contract) with 
fixed monthly wage rates all as agreeable with both parties for all Offshore operations. 
Recruitment procedures will be documented and filed in accordance to the requirements of in 
country labour legislation and the ESS2. Requirements and conditions of overtime and leave 
entitlements are agreed as part of individual contracts. Offshore will ensure that contractors 
are aware of, and comply with, labour management and OSH policies and procedures outlined 
in this LMP. Each contractor will be required to submit an assessment of environmental and 
social risks (including labour risks) associated with their activities and risk mitigation measures 
in accordance with the environmental and social requirements either quarterly or annually.
<h2 class="text-green-700 font-semibold text-lg pt-2">Wage</h2>
All Offshore employees will be paid based on their performance and skills regardless of 
employees’ characteristic such as gender, age, race, religion, disability, nationality, political 
beliefs, membership of unions, ethnic origin, religious beliefs, as well as sexual orientation. 
The base monthly salary shall be determined according to wage scale and shall not be lower 
than the regional minimum wage.
<h2 class="text-green-700 font-semibold text-lg pt-2">Freedom of Association</h2>
Offshore will recognize the freedom of its employees and those of its sub-contractors to be 
able to participate in collective bargaining agreements. Workers shall be allowed to establish 
and join work-based organizations if they wish to negotiate wages and other working 
conditions.
<h2 class="text-green-700 font-semibold text-lg pt-2">Equality of Treatment</h2>
The ILO conventions to be applied include the C 100 -Equal Remuneration 1951; and C111-
Discrimination (Employment and Occupation 1958) Conventions. Discrimination means 
denying someone a job or training on the basis of a factor, which does not affect their ability 
to perform that job. Offshore is committed to ensuring that men and women hired for work 
receive equal rates of pay for equal types of work. It will not discriminate in its hiring and 
employment practices on any basis of sex, race, culture, religion, sexual orientation, or other 
aspect as per ILO convention. 
<h2 class=" text-green-700 font-semibold text-lg pt-2">Age of Employment</h2>
Offshore target countries have ratified both the ILO Minimum of Age Convention (C138) and 
the ILO Worst Forms of Child Labour Convention (C182). The minimum age of employment 
will be 18 years. To ensure compliance, all employees will be required to produce an 
identification form as per in country legislation to identity and age. This shall be applicable for 
contractors and their sub-contractors.
<h2 class=" text-green-700 font-semibold text-lg pt-2">Occupational Health and Safety</h2>
The Offshore OHS measures are based on the requirements of the relevant sections of 
intranational best practices and country legislations. Offshore’s E&S team shall establish OSH 
guidelines for all workers, monitor and implement training on OHS for workers and establish 
a system for regular monitoring and reporting on OSH performance including documentation 
and reporting of occupational accidents, diseases and incidents. Offshore’s managers will 
ensure effective methods are put in place for responding to identified hazards and risks, 
establishing priorities for taking action and evaluating outcomes. 
Please refer OHS management plan below.
<h2 class="text-green-700 font-semibold text-lg pt-2">Sexual Exploitation and Abuse and Sexual Harassment</h2>
Provisions to prevent sexual exploitation and abuse and sexual harassment will be included in 
the Code of Conduct for staff and for contracted workers in line with relevant international 
standards and national legislation.
A separate Sexual Exploitation and Abuse Harassment policy has been developed to ensure 
that all risks related to SEAH have been mitigated.
<h2 class=" text-green-700 font-semibold text-lg pt-2">Forced Labour and Child Labour</h2>
Forced labour in line with ILO Convention is defined as any work or service extracted from a 
person under threat or penalty, which includes penal sanctions and the loss of rights and 
privileges, where the person has not offered him or herself voluntarily. It includes slavery and 
abduction, misuses of public and prison works, forced recruitment, debt bondage and 
domestic workers under forced labour situations, and internal or international human 
trafficking. 
Offshore commitments to follow the requirements are emphasized in the ILO conventions, IFC 
PS 2, GCF environmental and social policy and local relevant laws in terms of prohibition of 
forced labour in any form, including slavery and human trafficking. Offshore takes a firm stand 
against all forms of forced labour and expects the same of its primary suppliers, partners, 
contractors and subcontractors.
Offshore will not tolerate child labour under circumstances. A clear distinction between child 
labour and young worker shall be established according to internationally recognized 
standards. The employment of young workers, I,e, minor aged 15 years to under 18 years
who have reached the minimum age of employment and completed compulsory schooling, is 
allowed under strict conditions and in compliance with requirements of internationally 
recognized standards and local relevant laws and regulations. 
<h2 class="text-green-700 font-semibold text-lg pt-2">Worker Grievance mechanism</h2>
Grievance mechanism entails a formal process for receiving, evaluating and redressing 
Offshore grievances from affected workers, communities and the general public. Typical work 
place grievances include demand for employment opportunities; labour wage rates; delays of 
payment; disagreement over working conditions; and health and safety concerns in work 
environment
Offshore has established a Grievance Redress Mechanism which shall be applicable to 
managing labour related issues in all its operations. Training of workers, contractors, 
subcontractors, community, and suppliers on Grievance Redress mechanism shall be
implemented. Please refer to Grievance Redress Mechanism above.
<h2 class=" text-green-700 font-semibold text-lg pt-2">Human Immunodeficiency Virus/ Acquired Immunodeficiency 
Syndrome (HIV/AIDS)</h2> 
Risky sexual behaviour and engagement in illicit sex by both genders is real risk. In order to 
counter the risk of spreading HIV/AIDS, the Offshore operations will develop a HIV/AIDS 
strategy or policy consistent with ESS2 and ESS4 that shall spell out sensitization and 
awareness creation strategies for contractors and other employees. 
<h2 class=" text-green-700 font-semibold text-lg pt-2">Contractor Management</h2>
Each contractor engaged by the Offshore to provide services will be expected to adopt the 
protective measures outlined in this document. The contracts drawn by Offshore will include 
provisions, measures and procedures to be put in place by the contractors to manage and 
monitor the relevant OHS, child labour, forced labour, and other employment terms and 
conditions issues.
<h2 class="text-green-700 font-semibold text-lg pt-2">Primary Supply Workers</h2>
Offshore will identify potential risks of child labour, forced labour, and serious safety issues 
which may arise in relation to primary suppliers as part of the environmental and social 
assessment in accordance with ESS2 para.39. Based on the scope there is potential for child 
labour, forced labour and safety risks related to the hazardous nature of the equipment to be 
procured. Offshore will conduct a mapping exercise to identify possible suppliers and the 
extent to which they may present the potential risks in accordance with ESS2 GN39.1. In case 
it will be impossible to identify specific primary suppliers, Offshore will review the general 
industry labour issues and risks relating to the supply of such specialized equipment for
Offshore’s operations. Based on the provisions of ESS2 GN39.2 Offshore will periodically 
update the assessment of potential risks that may arise in relation to primary suppliers.
<h2 class=" text-green-700 font-semibold text-lg pt-2">Monitoring</h2>
Offshore shall develop processes for monitoring, assessment and audit will be developed to 
document the implementation and effectiveness of management and mitigation measures, 
assess actual impacts against predicted impacts and demonstrated compliance with applicable 
legal and other requirements.
Offshore will conduct both desktop and field-based inspections programs to confirm that 
specified mitigation measures are being implemented effectively and achieving the intended 
outcomes. SMART Performance indicators, both lagging and leading, shall be developed and 
shared.
<h2 class="text-green-700 font-semibold text-lg pt-2">Reporting</h2>
Offshore will ensure that a aperiodic report is complained to address the labour and working 
conditions which are contained in this plan. Some of the key areas to be included in the report 
include grievances lodged by the workers and community, induction training, number of 
employees, issues raised by workers committees, any incidents or accident reported among 
others. 
<h2 class="text-green-700 font-semibold text-lg pt-2">Training and Awareness</h2>
A training need analysis shall be established to determine the relevant trainings which shall 
be conducted. The needs analysis will be based on the requirements of this plan. It involves 
a basic assessment of the knowledge and skills of the people involved in training 
implementation. Some of the key areas to be covered in training shall include disciplinary and 
grievance procedures, cultural awareness, code of conduct, health safety and security,, human 
rights awareness among others.
<h2 class=" text-green-700 font-semibold text-lg pt-2">Communication</h2>
Offshore shall ensure that the Labour Management Plan is disclosed to its staff, contractors, 
subcontractors and O&M contractors. Any grievances raised by workers shall be logged and 
followed up in accordance with the Offshore Grievance Mechanism. 
<h2 class=" text-green-700 font-semibold text-lg pt-2">Guideline on Code of Conduct</h2>
A satisfactory code of conduct will contain obligations on all workers (including sub-contractors) that are suitable to address the following issues, as a minimum. Additional 
obligations may be added to respond to particular concerns based on the location and the
sector or to specific operational requirements. 
The Code of Conduct will be written in plain language and signed by each worker to indicate 
that they have: received a copy of the code, had the code explained to them, acknowledged 
that adherence to this Code of Conduct is a condition of employment and understood that 
violations of the Code can result in serious consequences, up to and including dismissal, or 
referral to legal authorities. 
Offshore and her contractors will conduct awareness raising and training activities to ensure 
that workers abide by the Code of Conduct (such as through toolbox talks). The Contractor 
will also ensure that local communities are aware of the Code of Conduct and enable them to 
report any concerns or non-compliance. 
The issues to be addressed include: 
<ul class="list-decimal ml-10">
<li>Compliance with applicable laws, rules, and regulations of the jurisdiction </li>
<li>Compliance with applicable health and safety requirements (including wearing 
prescribed personal protective equipment (PPE), preventing avoidable accidents and a 
duty to report conditions or practices that pose a safety hazard or threaten the 
environment)</li> 
<li>The use of illegal substances</li>
<li>Non-Discrimination (for example on the basis of family status, ethnicity, race, gender, 
religion, language, marital status, birth, age, disability, or political conviction)</li>
<li>Interactions with community members (for example to convey an attitude of respect 
and non-discrimination)</li>
<li>Sexual harassment(for example to prohibit use of language or behaviour, in particular 
towards women or children, that is inappropriate, harassing, abusive, sexually 
provocative, demeaning or culturally inappropriate)</li>
<li>Violence or exploitation (for example the prohibition of the exchange of money, 
employment, goods, or services for sex, including sexual favours or other forms of 
humiliating, degrading or exploitative behaviour) </li>
<li>Protection of children (including prohibitions against abuse, defilement, or otherwise 
unacceptable behaviour with children, limiting interactions with children, and ensuring 
their safety in all areas)</li>
<li>Sanitation requirements (for example, to ensure workers use specified sanitary 
facilities provided by their employer and not open areas)</li> 
<li>Avoidance of conflicts of interest (such that benefits, contracts, or employment, or any 
sort of preferential treatment or favours, are not provided to any person with whom 
there is a financial, family, or personal connection)</li>
<li>Respecting reasonable work instructions (including regarding environmental and social 
norms)</li>
<li>Protection and proper use of property (for example, to prohibit theft, carelessness or 
waste)</li>
<li>Duty to report violations of this Code</li>
<li>No retaliation against workers who report violations of the Code, if that report is made 
in good faith.</li> 
<li>Disturbing wildlife or bushmeat hunting workers prohibited under any circumstances 
from engaging in any disturbance of wildlife or bushmeat hunting during the entire 
duration of their employment/engagement</li>
</ul>


</article>
</div>
{% endblock %}