{% extends 'base.html' %} {% block content %}

<section class="justify-center md:mx-20 mt-20 mb-20!">
    <div class="w-auto p-10">
      <div class="flex flex-row max-sm:flex-col col-span-2 shadow-xl">
        <div class="bg-green-600/60 text white text-xl p-5 w-[inherit] italic">
            <h1 class="text-2xl">Quotation Form</h1> <br>
            <h2>Please fill this form to request for a quote on our services</h2>
        </div>
        <div class="bg-white p-5 w-full" >
            
            <form class="space-y-5" onsubmit="quoteMail()">
              <div class="flex flex-row row-span-2 gap-5 max-md:flex-col">
                <input class="w-auto placeholder:italic p-2 rounded-md shadow-2xl bg-slate-200" type="name" id="Fname" name="Lname" placeholder="First Name(optional)" />
                <input class="w-auto placeholder:italic p-2 rounded-md shadow-2xl bg-slate-200" type="name" id="Sname" name="Sname" placeholder="Second Name(optional)" />
              </div>

              <div class="flex flex-row row-span-2 gap-5 max-md:flex-col">
                <input class="w-auto placeholder:italic p-2 rounded-md shadow-2xl bg-slate-200" type="name" id="company" name="company" placeholder="Company" required/>
                <input class="w-auto placeholder:italic p-2 rounded-md shadow-2xl bg-slate-200" type="name" id="Position" name="Position" placeholder="Department(optional)" />
              </div>
              
              <div class="flex flex-row row-span-2 gap-5 max-md:flex-col">
                <input class="w-auto placeholder:italic p-2 rounded-md shadow-2xl bg-slate-200" type="email" id="Email" name="Email" placeholder="Email" required/>
                <input class="w-auto placeholder:italic p-2 rounded-md shadow-2xl bg-slate-200" type="number" id="phone" name="phone" placeholder="Phone Number" required/>
              </div>

              <div class="flex flex-row row-span-2 gap-5 max-md:flex-col">
                <input class="w-auto placeholder:italic p-2 rounded-md shadow-2xl bg-slate-200" type="name" id="country" name="country" placeholder="Country(optional)" />
                <input class="w-auto placeholder:italic p-2 rounded-md shadow-2xl bg-slate-200" type="name" id="city" name="city" placeholder="City/Town(optional)" />
              </div>

              <div class="flex flex-col col-span-2">
                
                <textarea
                  class="w-[inherit] placeholder:italic p-2 rounded-md shadow-2xl bg-slate-200"
                  id="message"
                  name="message"
                  rows="4"
                  cols="50"
                  placeholder="How may we help you?"
                  required
                ></textarea>
                </div>

                <input class="bg-green-500 rounded-xl shadow-xl px-5 py-2 my-3 text-lg font-semibold" type="submit" value="Send">
           
            </form>
        </div>
      </div>
    </div>
</section>
{% endblock %}
