{% extends 'base.html' %}

{% block content %}
    <section class="mt-20 max-w-4xl">
        
            <div class="text-justify break-words p-5 max-md:text-start min-[1100px]:mx-20">
                <h2 class="text-green-600 text-xl uppercase">Training & Development</h2>

                <p>
                    Investing in our team's growth and development is a cornerstone of our commitment to excellence. At Offshore Global Logistics, we provide ample opportunities for learning, skill enhancement, and personal growth.
                    <br>

                    <strong>Continuous Learning:</strong>Our dynamic industry demands continuous learning and adaptation. We offer a range of training programs, workshops, and resources that keep our team members at the forefront of industry trends and best practices.

                    <strong>Skill Enhancement:</strong>Whether you're looking to refine your existing skills or explore new ones, we support your journey. Our tailored development plans help you strengthen your abilities and expand your horizons, contributing to both your professional growth and our collective success.
                    <br>

                    <strong>Career Advancement:</strong> Your success story is our success story. We encourage internal promotions and career advancement, recognizing that investing in your growth benefits both you and the organization. Our leaders are dedicated to providing mentorship and guidance as you navigate your career path.
                  
                </p>
            </div>
        
    </section>

{% endblock %}