{% extends 'base.html' %} {% block content %}
<div class="py-6 mt-16">
  <h2 class="text-green-700 font-bold text-xl pl-10">WASTE MANAGEMENT PLAN</h2>

  <h2 class="pl-10 text-green-700 font-semibold text-lg">Scope and Purpose</h2>
  <article
    class="text-base max-w-6xl px-10 max-md:text-left text-gray-700 text-justify py-2"
  >
    The Pollution Prevention plan provides a guideline on how Offshore Global
    Logistics Ltd (Offshore) will assess its Pollution prevention plans. It
    therefore sets out the requirements and expectations in terms of pollution
    prevention. It covers Offshore’s operations in all phases. All potential
    pollutants that would rise from the supply chains require careful management
    to avoid negative impacts on human health, and environmental factors such as
    groundwater, soils, surface water and ecology. Offshore is required to
    ensure that all the requirements of the waste management are adopted within
    her own waste management plan. Key policies, Legislations and Standards All
    Offshore’s operations will be subjected to Offshore’s E&S policy and HSE
    framework. In line with Offshore’s E&S policy, all operations shall meet the
    following:
    <ul class="list-disc ml-10">
      <li>Host Country Environmental and Labour Legislation;</li>
      <li>IFC Environmental and Social Performance Standards;</li>
      <li>Sustainability principles advocated by the UN Global Compact;</li>
    </ul>
    <h2 class="text-green-700 font-semibold text-lg pt-2">
      Roles and Responsibilities
    </h2>
    The Offshore E&S team has the responsibility of developing and implementing
    the operation specific Pollution Prevention Plan. This plan shall with
    complaint with the in-country legislation, the best international practices
    and in line with Offshore’s E&S policy and HSE. Offshore will ensure that
    her E&S supervisory appointments as well as any relevant appointments tasked
    with developing and implementing this plan are made upon proof of
    competency. The E&S roles and responsibilities for the Offshore team shall
    include:
    <ul class="list-disc ml-10">
      <li>Developing and implementing the Pollution Prevention Plan</li>
      <li>Conducting training on waste management</li>
      <li>
        Reporting all incidents related to waste or hazardous substances,
        investigating the root causes and coming up with mitigation measures.
      </li>
      <li>
        Reviewing the effectiveness of the plan revising the plan according to
        changes in the legislations or other requirements emerging from
        international Best Practices
      </li>
      <li>
        Working closely with the management to ensure the plan’s targets are
        achieved. Waste Management Hierarchy
      </li>
    </ul>
    Offshore operations will adopt a simple philosophy for waste management,
    placing a strong emphasis on the minimisation of waste, while adhering to
    the five principles on waste management listed below:
    <ul class="list-disc ml-10">
      <li>Reduce: If generated, reduce the quantity of waste.</li>
      <li>Reuse: Where possible, use items for multiple use.</li>
      <li>
        Recycle: Recycle if waste generation cannot be practicably reduced
      </li>
      <li>Reclaim: Transform waste to a value-added product.</li>
      <li>
        Dispose: If materials or energy are recovered from a waste it is
        classified as recovery rather than disposal.
      </li>
    </ul>
    The figure below presents a waste management hierarchy from most to least
    preferred based on the five principles of waste management.
    <div class="flex justify-center items-center">
      <img
        src="{{url_for('static', filename='media/Waste Management Hierarchy.webp )}}"
      />
    </div>
    <h2 class="text-green-700 font-semibold text-lg pt-2">Waste Management</h2>
    <h2 class="text-green-700 font-semibold text-lg pt-2">Management Framework</h2>
    Facilities that generate waste should characterize waste according to
    composition, source, types of wastes produced, generation rates, or
    according to local regulatory requirements. More specifically, waste
    management strategies should include:
    <ul class="list-disc ml-10">
      <li>
        Review of new waste sources during planning, siting and design
        activities;
      </li>
      <li>Collection of data and information about waste streams;</li>
      <li>
        Identify opportunities for waste reduction at source, as well as reuse
        and recycling; and
      </li>
      <li>
        Define procedures and operational controls for onsite storage,
        treatment, and disposal.
      </li>
    </ul>
    When waste is generated at any stage of the operations, the following
    process will be implemented to proper manage it:
    <!--<div class="flex justify-center items-center">
      <img src="{{url_for('static', filename='media/wstplan.webp') }}" />
    </div>-->

    <h2 class="text-green-700 font-semibold text-lg pt-2">
      Waste Management Process
    </h2>
    <h3 class="text-green-600 pt-2">Waste Identification</h3>
    Offshore will identify all the waste generated from her operations. The
    waste will be categorized either as recyclable, hazardous, and
    non-hazardous. Planning, Waste Prevention and Reduction Opportunities to
    prevent the creation of waste or the types of waste generated by business
    activities should be identified by Offshore. Processes should be designed
    and operated to prevent or minimize, the quantities of wastes generated.
    This could lead to a reduction in the amount of waste generated or the
    creation of non-hazardous waste instead of hazardous waste. Where possible,
    Offshore will implement the following for waste reduction and prevention:
    <ul class="ml-10 list-disc">
      <li>
        Substituting inputs with less hazardous materials, or with those where
        processing generates lower waste volumes;
      </li>
      <li>Undertake processes that create the least waste;</li>
      <li>Instituting good housekeeping and operating practices;</li>
      <li>
        Instituting procurement measures that recognize opportunities to return
        usable materials to the suppliers;
      </li>
      <li>
        Exercise duty of care, particularly in verifying waste manifests and
        licenses for facilities that accept different types of waste; and
      </li>
      <li>
        Minimizing hazardous waste generation by implementing stringent waste
        segregation to prevent contamination
      </li>
    </ul>
    <h2 class="text-green-700 font-semibold text-lg pt-2">Waste Handling</h2>
    Non-hazardous and hazardous wastes will be handled to reduce the risk to
    workers. The use of Personal Protective Equipment (PPE) is critical in the
    handling of various waste types. In order to protect workers from the
    adverse impacts that could occur from contact with wastes, measures will be
    put in place to ensure that personnel handling wastes are trained in the use
    of PPE for handling waste.<br />
    <strong>PPE for Handling Non-Hazardous Waste</strong><br />
    Key PPE required when handling non-hazardous waste will include the
    following:
    <ul class="list-disc ml-10">
      <li>Coveralls;</li>
      <li>
        Eye protection (potential for potential of debris/dust getting into the
        eye of the waste handler)
      </li>
      <li>Gloves;</li>
      <li>Safety boots (chemical-resistant with steel toe and shank);</li>
    </ul>
    <strong>PPE for Handling Hazardous Waste</strong><br />
    Key PPE required for handling hazardous waste will include the following:
    <ul class="list-disc ml-10">
      <li>
        Full-face or half-mask, air purifying respirators (IOSH approved) or
        face shield;
      </li>
      <li>Coveralls;</li>
      <li>Gloves (chemical resistant);</li>
      <li>Safety boots (chemical-resistant with steel toe and shank).</li>
    </ul>
    <strong>Recycling and Reuse </strong><br />
    Recycling plans have the potential to reduce the amount of waste generated.
    Offshore recycling plans will consider the following:
    <ul class="ml-10 list-disc">
      <li>
        Evaluation of waste production processes to identify waste streams that
        could potentially be recycled;
      </li>
      <li>Early segregation of wastes from recyclable wastes;</li>
      <li>Investigation of external markets for recycling in the region;</li>
      <li>
        Ensure that external manufacturers of technology acquired bear the
        responsibility of recycling (if applicable)
      </li>
      <li>Establishing recycling objectives and track progress; and</li>
      <li>Providing training to employees.</li>
    </ul>

    <h2 class="text-green-700 font-semibold text-lg pt-2">E-waste Management</h2>
    Following must be taken into consideration when treating and handling
    electronic waste: PV technologies employ few toxic chemicals and those that
    are used, are used in very small quantities that they do not pose a material
    risk of toxicity to public health and safety. Furthermore, the EVA layers in
    PV panels keep broken panels intact; thus a damaged module does not
    generally create small pieces of debris; instead, it largely remains
    together as one piece. This means solar panels can be readily recycled. With
    regards batteries, the same supply chain solution as for solar panels should
    be negotiated. Failing this, old or redundant batteries are to be removed to
    an appropriate recycling facility.

    <h2 class="text-green-700 font-semibold text-lg pt-2">
      Hazardous Waste Management
    </h2>
    If hazardous wastes cannot be prevented, then management of hazardous wastes
    by individual businesses should be based on the following principles:
    <ul class="list-disc ml-10">
      <li>
        Hazardous wastes should always be segregated (separated) from
        non-hazardous wastes.
      </li>
      <li>
        Understanding potential impacts and risks associated with hazardous
        waste as part of the operations;
      </li>
      <li>
        Ensuring that the handling, treating, and disposing of hazardous waste
        are licensed and follows good international industry practice;
      </li>
      <li>
        Ensure a registered waste contractor is in place to handle and dispose
        of hazardous wastes, as required; and
      </li>
      <li>Ensure compliance with local legislation.</li>
    </ul>

    <h2 class="text-green-700 font-semibold text-lg pt-2">Waste Segregation</h2>
    Offshore’s operations will identify, classify, separate and manage waste
    generated on site, based on each stage of the business operations. The
    identified wastes will be separated into solid and liquid wastes and further
    separated into hazardous and non-hazardous wastes based on the origin of the
    waste and its inclusion on hazardous waste lists, or based on its
    characteristics. Additionally non-hazardous waste will be segregated by type
    (plastics, glass, and metal, biodegradable). A critical component of the
    waste management process is the early identification and designation of the
    waste as hazardous or non-hazardous. The policy does not have a specific
    definition for non-hazardous waste but does have for hazardous waste. In
    this case the IFC Performance Standard definition for non-hazardous will be
    used. Non-hazardous waste will be physically segregated from hazardous
    wastes. Non-hazardous waste will be segregated by type (plastics, glass, and
    metal, biodegradable). The earlier waste can be segregated the better.

    <h2 class="text-green-700 font-semibold text-lg pt-2">Waste Storage on Site</h2>
    Facilities will be provided for temporary accumulation and consolidation of
    waste. Waste storage will be on a short-term basis. Some materials may be
    stored longer than others until volumes accrued are sufficient to support a
    selected waste management option. The E&S champion is encouraged to document
    waste storage within the operation for record keeping. This can be
    illustrated in a rough sketch or diagram of the operation noting key points
    that indicate the specific locations where the waste is stored. Wastes will
    be collected in bins, appropriately labelled and colour-coded for easy
    identification and evacuation (see Table below) Orientation labels such as
    ‘This End Up’ will be used for all containers bearing liquid wastes during
    all handling, storage, transportation, and disposal activities. The core
    characteristics of approved containers are as follows: Waste containers will
    be colour-coded and labelled for easy identification. Food and perishable
    wastes will be sealed in bin bags and containers covered at all times to
    reduce odour and restrict access by vermin and scavengers
    <ul class="list-disc ml-10">
      <li>
        Chemicals and any other hazardous liquids will be contained in
        compatible, appropriately sealed and labelled containers to prevent
        reaction with containers and spillage during handling.
      </li>
      <li>
        Waste containers will be kept on pallets or other space buffers to
        prevent contamination in the event of a spill.
      </li>
      <li>
        All waste containers will be maintained in good condition and stored
        with appropriate secondary containment
      </li>
    </ul>
    <div class="flex justify-center items-center">
      <img
        src="{{url_for('static', filename='media/wstplanimg.webp')}}"
        alt=""
      />
    </div>

    Minimal requirements for waste storage facilities are as follows:
    <ul class="list-disc ml-10">
      <li>
        Locate in safe areas with limited chance of exposure to hazards and
        accidents.
      </li>
      <li>
        Facilities are to be enclosed with appropriate secondary containment to
        prevent spreading of waste and contamination of surrounding areas.
      </li>
      <li>
        Facilities are to be lined to prevent contamination of soil and ground
        water.
      </li>
      <li>
        Facilities are to be covered to prevent being washed off and spread by
        rain which could lead to contamination of soil, contamination of ground
        water and air pollution via wind-borne odours and dusts.
      </li>
      <li>
        The entire area will be sealed off and operated with limited access.
      </li>
      <li>
        Safety signs will be used to indicate potential hazards and restricted
        access.
      </li>
      <li>
        Sufficient capacity will be maintained to contain anticipated types and
        volumes.
      </li>
      <li>
        Effluent from the washing-down of concrete mixing and handling equipment
        will be contained within a bunded area of 110 percent capacity of the
        stored material. Effluent will be treated as hazardous waste.
      </li>
    </ul>
    <h2 class="text-green-700 font-semibold text-lg pt-2">
      Hazardous Waste Storage
    </h2>
    Hazardous waste should be stored to prevent or control accidental releases
    to air, soil, and water resources in area location where contamination of
    non-hazardous waste with hazardous waste. The hazardous should be stored
    securely above the flood level and at least 20m from waterbody, watercourse,
    canal, or storage pond. If this is not possible, ensure secure measures are
    in place and storage facilities are lined to prevent potential leakages.
    Furthermore, they must be stored appropriately to reduce exposure to
    sunlight, wind and rain as well as minimise the potential for contamination
    of the environment. All hazardous waste (e.g. fuel, oil, used oil, paints,
    chemicals and contaminated soil) shall be stored in impervious containers in
    bunded areas of 110 percent capacity of the stored material to prevent
    contamination in case of accidental release. Waste chemicals will have SDS
    close by for easy identification and for emergencies. In addition, hazardous
    waste storage activities should also be subject to special management
    actions including behaviour of employees.

    <h2 class="text-green-700 font-semibold text-lg pt-2">
      Transportation of Waste
    </h2>
    All waste containers designated for off-site transportation should be
    secured and labelled with the contents and associated hazards, be properly
    loaded on the transport vehicles before leaving the site and be accompanied
    by appropriate documentation. Additionally, all transportation company
    vehicles should be thoroughly assessed to verify roadworthiness or are
    licensed to transport wastes.

    <h2 class="text-green-700 font-semibold text-lg pt-2">
      Waste Treatment and Disposal
    </h2>
    If waste materials are still generated after the implementation of feasible
    waste prevention, reduction, reuse, recovery and recycling measures, waste
    materials should be treated and disposed of and measures should ensure that
    there is minimal impact to human health and the environment. Management
    approaches should be in line with local legislation and could include the
    following strategies: On-site or off-site biological, chemical, or physical
    treatment of the waste material to render it non-hazardous prior to final
    disposal; and Treatment or disposal at permitted facilities specially
    designed to receive the waste. In addition to the recommendations for
    treatment and disposal applicable to general wastes, the following issues
    specific to hazardous wastes should be considered.
    <h2 class="text-green-700 font-semibold text-lg pt-2">Training</h2>
    Training needs for Offshore’s stakeholders shall be identified and a
    training plan will be developed. All training required shall be done before
    start of new operations. The key areas of the training to be done before
    commencement of operations include waste identification and segregation,
    handling of hazardous waste which shall cover storage, transportation,
    disposal, among others.
  </article>
</div>

{% endblock %}
